/*====================================================================
Font　
====================================================================*/


/*----------- icon font inport mixin -----------*/
@mixin icofont-style{
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none !important;
}
@mixin icofont($ico){
	&:before { content:$ico; @include icofont-style; @content;}
}
@mixin icofont-after($ico){
	&:after { content:$ico; @include icofont-style; @content;}
}


/*----------- file icon inport mixin -----------*/
@mixin add-link-icon($selector:"") {
	@if $selector != "" { $selector:" " + $selector;}

	//新規ウィンドウアイコン
	&[target="_blank"] #{$selector}{ position: relative;
		@include icofont-after($icofont-window){ display: inline-block; margin: -3px 6px 0 8px; color: $color-a; font-size: 69%;};
	}
	//ファイルアイコン
	&[href$='.pdf']#{$selector},
	&[href$='.doc']#{$selector},
	&[href$='.docx']#{$selector},
	&[href$='.ppt']#{$selector},
	&[href$='.xls']#{$selector},
	&[href$='.xlsx']#{$selector}{ position: relative;
//		&:after { content:" "; width: 1em; height:1em; min-width: 15px; min-height: 15px; display: inline-block; margin: -3px 6px 0 8px; vertical-align: middle; background-repeat: no-repeat; background-position: left top; background-size:contain;}
		&:after { content:" "; width: 23px; height:14px; min-width: 15px; min-height: 15px; display: inline-block; margin: -3px 6px 0 8px; vertical-align: middle; background-repeat: no-repeat; background-position: left 1px; background-size:contain;}
	}
	&[href$='.ppt']#{$selector}:after { background-image:url("/common/images/ico-ppt.png");}
	&[href$='.pdf']#{$selector}:after { background-image:url("/common/images/ico-pdf.png");}
	&[href$='.doc']#{$selector}:after,
	&[href$='.docx']#{$selector}:after { background-image:url("/common/images/ico-doc.png");}
	&[href$='.xls']#{$selector}:after,
	&[href$='.xlsx']#{$selector}:after { background-image:url("/common/images/ico-exs.png");}
}


/*----------- icon font variables-----------*/
$icofont-doc:"\e90a";
$icofont-close:"\e90b";
$icofont-window:"\e909";
$icofont-arw:"\e908";
$icofont-arw-thin:"\e900";
$icofont-instagram:"\e901";
$icofont-search:"\e902";
$icofont-folder:"\e903";
$icofont-tri:"\e905";
$icofont-twitter:"\e906";
$icofont-youtube:"\e907";
$icofont-mail:"\e904";

.icofont-doc:before			{ content: $icofont-doc; @include icofont-style;}
.icofont-close:before		{ content: $icofont-close; @include icofont-style;}
.icofont-window:before 		{ content: $icofont-window; @include icofont-style;}
.icofont-arw:before			{ content: $icofont-arw; @include icofont-style;}
.icofont-arw-thin:before	{ content: $icofont-arw-thin; @include icofont-style;}
.icofont-instagram:before	{ content: $icofont-instagram; @include icofont-style;}
.icofont-search:before		{ content: $icofont-search; @include icofont-style;}
.icofont-folder:before		{ content: $icofont-folder; @include icofont-style;}
.icofont-tri:before			{ content: $icofont-tri; @include icofont-style;}
.icofont-twitter:before 	{ content: $icofont-twitter; @include icofont-style;}
.icofont-youtube:before 	{ content: $icofont-youtube; @include icofont-style;}
.icofont-mail:before 		{ content: $icofont-mail; @include icofont-style;}


/*----------- Noto Sans variables-----------*/
$notoFont		:"Noto Sans Japanese";
$notoFont-thin	:"Noto Sans Japanese thin";
$notoFont-medium:"Noto Sans Japanese medium";
$notoFont-light	:"Noto Sans Japanese light";
$notoFont-demilight:"Noto Sans Japanese demilight";
$notoFont-bold	:"Noto Sans Japanese bold";
$notoFont-black	:"Noto Sans Japanese black";

.u-notofont			{ font-family: $notoFont;}
.u-notofont-thin	{ font-family:$notoFont-thin;}
.u-notofont-medium	{ font-family:$notoFont-medium;}
.u-notofont-light	{ font-family:$notoFont-light;}
.u-notofont-demilight{ font-family:$notoFont-demilight;}
.u-notofont-bold	{ font-family:$notoFont-bold;}
.u-notofont-black	{ font-family:$notoFont-black;}


/*----------- Yakuhan font variables-----------*/
//$yakuhanFont-s:"YakuHanJPs";


