@charset "UTF-8";
/* フォントサイズのリスト */
/* 相対的なフォントサイズの調整を行う：基本の数値に対して増減した値を指定する @param{Number}px単位で基準となるフォントサイズから何px変わったかを指定
*/
.ex-gp:before, .ex-gp:after { content: ""; display: table !important; }

.ex-gp:after { clear: both; }

.ex-ir { overflow: hidden; white-space: nowrap; text-indent: 100%; }

.ex-elps { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.ex-fl { float: left; }

.ex-fr { float: right; }

.ex-full { width: 100%; }

.ex-half { width: 50%; }

.ex-third { width: 33.3%; }

.ex-quater { width: 25%; }

.ex-fifth { width: 20%; }

.ex-posr { position: relative; }

.ex-posa { position: absolute; }

.ex-invisible { visibility: hidden; }

.ex-dn { display: none !important; }

.ex-db { display: block !important; }

.ex-di { display: inline !important; }

.ex-ds { display: inline-block !important; }

.ex-dt { display: table !important; }

.ex-dc { display: table-cell !important; }

.ex-mod { margin: 20px; }

.ex-mgn { margin: 0 !important; }

.ex-mca { margin: 0 auto !important; }

.ex-mtn { margin-top: 0 !important; }

.ex-mts { margin-top: 10px !important; }

.ex-mtm { margin-top: 20px !important; }

.ex-mtl { margin-top: 30px !important; }

.ex-mbn { margin-bottom: 0 !important; }

.ex-mbs { margin-bottom: 10px !important; }

.ex-mbm { margin-bottom: 20px !important; }

.ex-mbl { margin-bottom: 30px !important; }

.ex-mln { margin-left: 0 !important; }

.ex-mls { margin-left: 10px !important; }

.ex-mlm { margin-left: 20px !important; }

.ex-mll { margin-left: 30px !important; }

.ex-mrn { margin-right: 0 !important; }

.ex-mrs { margin-right: 10px !important; }

.ex-mrm { margin-right: 20px !important; }

.ex-mrl { margin-right: 30px !important; }

.ex-nmts { margin-top: -10px !important; }

.ex-nmtm { margin-top: -20px !important; }

.ex-nmtl { margin-top: -30px !important; }

.ex-nmbs { margin-bottom: -10px !important; }

.ex-nmbm { margin-bottom: -20px !important; }

.ex-nmbl { margin-bottom: -30px !important; }

.ex-nmls { margin-left: -10px !important; }

.ex-nmlm { margin-left: -20px !important; }

.ex-nmll { margin-left: -30px !important; }

.ex-nmrs { margin-right: -10px !important; }

.ex-nmrm { margin-right: -20px !important; }

.ex-nmrl { margin-right: -30px !important; }

.ex-ptn { padding-top: 0 !important; }

.ex-pts { padding-top: 10px !important; }

.ex-ptm { padding-top: 20px !important; }

.ex-ptl { padding-top: 30px !important; }

.ex-pbn { padding-bottom: 0 !important; }

.ex-pbs { padding-bottom: 10px !important; }

.ex-pbm { padding-bottom: 20px !important; }

.ex-pbl { padding-bottom: 30px !important; }

.ex-pln { padding-left: 0 !important; }

.ex-pls { padding-left: 10px !important; }

.ex-plm { padding-left: 20px !important; }

.ex-pll { padding-left: 30px !important; }

.ex-prn { padding-right: 0 !important; }

.ex-prs { padding-right: 10px !important; }

.ex-prm { padding-right: 20px !important; }

.ex-prl { padding-right: 30px !important; }

.ex-fwn { font-weight: normal !important; }

.ex-fwb { font-weight: bold !important; }

.ex-tal { text-align: left !important; }

.ex-tac { text-align: center !important; }

.ex-tar { text-align: right !important; }

.ex-tdn { text-decoration: none !important; }

.ex-tdu { text-decoration: underline !important; }

.ex-fsmin-1 { font-size: 12px !important; }

.ex-fsmin-2 { font-size: 11px !important; }

.ex-fsmin-3 { font-size: 10px !important; }

.ex-fsmax-1 { font-size: 14px !important; }

.ex-fsmax-2 { font-size: 15px !important; }

.ex-fsmax-3 { font-size: 17px !important; }

.ex-fsmax-4 { font-size: 19px !important; }

.ex-fsmax-5 { font-size: 21px !important; }

.ex-fsmax-6 { font-size: 29px !important; }

.ex-v1 { vertical-align: -1px; }

.ex-v2 { vertical-align: -2px; }

.ex-v3 { vertical-align: -3px; }

.ex-vt { vertical-align: top; }

.ex-vm { vertical-align: middle; }

.ex-vb { vertical-align: bottom; }

/*トップページ：index.html
--------------------------------------------------------------------*/
#top { background: white; }

#test li { width: 100px; height: 100px; overflow: visible; display: block; background: red; }
#test li:hover { background: blue; }

.js-acd { width: 200px; }

.js-acd-head { height: 20px; background: red; }

.js-acd-body { background: blue; }

.js-tabnav { overflow: hidden; }
.js-tabnav p { width: 100px; height: 100px; overflow: visible; display: block; float: left; margin: 0; background: yellow; }
.js-tabnav p:hover { background: red; }

.js-tabbody { overflow: hidden; }
.js-tabbody div { width: 200px; height: 200px; overflow: visible; display: block; display: none; background: green; }
.js-tabbody div:first-child { display: block; }
