/*　Noto Sans */
$notoFont		:"Noto Sans Japanese";
$notoFont-thin	:"Noto Sans Japanese thin";
$notoFont-medium:"Noto Sans Japanese medium";
$notoFont-light	:"Noto Sans Japanese light";
$notoFont-demilight:"Noto Sans Japanese demilight";
$notoFont-bold	:"Noto Sans Japanese bold";
$notoFont-black	:"Noto Sans Japanese black";

.u-notofont			{ font-family: $notoFont;}
.u-notofont-thin	{ font-family:$notoFont-thin;}
.u-notofont-medium	{ font-family:$notoFont-medium;}
.u-notofont-light	{ font-family:$notoFont-light;}
.u-notofont-demilight{ font-family:$notoFont-demilight;}
.u-notofont-bold	{ font-family:$notoFont-bold;}
.u-notofont-black	{ font-family:$notoFont-black;}

@font-face {
	font-family:"Noto Sans Japanese";
	src: url("/common/fonts/notosans/regular/NotoSansCJKjp-Regular.eot");  //IE9 Compat Modes 
	src: url("/common/fonts/notosans/regular/NotoSansCJKjp-Regular.eot?#iefix") format("embedded-opentype"), //eof - IE6-IE8 
		url("/common/fonts/notosans/regular/NotoSansCJKjp-Regular.woff") format("woff"), //woff - Modern Browsers 
		url("/common/fonts/notosans/regular/NotoSansCJKjp-Regular.otf")  format("opentype"); //ttf - Safari, Android, iOS 
}
@font-face {
	font-family:"Noto Sans Japanese thin";
	src: url("/common/fonts/notosans/thin/NotoSansCJKjp-Thin.eot");  //IE9 Compat Modes 
	src: url("/common/fonts/notosans/thin/NotoSansCJKjp-Thin.eot?#iefix") format("embedded-opentype"), //eof - IE6-IE8 
		url("/common/fonts/notosans/thin/NotoSansCJKjp-Thin.woff") format("woff"), //woff - Modern Browsers 
		url("/common/fonts/notosans/thin/NotoSansCJKjp-Thin.otf")  format("opentype"); //ttf - Safari, Android, iOS 
	font-weight:lighter;
}
@font-face {
	font-family:"Noto Sans Japanese medium";
	src: url("/common/fonts/notosans/medium/NotoSansCJKjp-Medium.eot");  //IE9 Compat Modes 
	src: url("/common/fonts/notosans/medium/NotoSansCJKjp-Medium.eot?#iefix") format("embedded-opentype"), //eof - IE6-IE8 
		url("/common/fonts/notosans/medium/NotoSansCJKjp-Medium.woff") format("woff"), //woff - Modern Browsers 
		url("/common/fonts/notosans/medium/NotoSansCJKjp-Medium.otf")  format("opentype"); //ttf - Safari, Android, iOS 
	font-weight:lighter;
}
@font-face {
	font-family:"Noto Sans Japanese light";
	src: url("/common/fonts/notosans/light/NotoSansCJKjp-Light.eot");  //IE9 Compat Modes 
	src: url("/common/fonts/notosans/light/NotoSansCJKjp-Light.eot?#iefix") format("embedded-opentype"), //eof - IE6-IE8 
		url("/common/fonts/notosans/light/NotoSansCJKjp-Light.woff") format("woff"), //woff - Modern Browsers 
		url("/common/fonts/notosans/light/NotoSansCJKjp-Light.otf")  format("opentype"); //ttf - Safari, Android, iOS 
	font-weight:lighter;
}
@font-face {
	font-family:"Noto Sans Japanese demilight";
	src: url("/common/fonts/notosans/demilight/NotoSansCJKjp-DemiLight.eot");  //IE9 Compat Modes 
	src: url("/common/fonts/notosans/demilight/NotoSansCJKjp-DemiLight.eot?#iefix") format("embedded-opentype"), //eof - IE6-IE8 
		url("/common/fonts/notosans/demilight/NotoSansCJKjp-DemiLight.woff") format("woff"), //woff - Modern Browsers 
		url("/common/fonts/notosans/demilight/NotoSansCJKjp-DemiLight.otf")  format("opentype"); //ttf - Safari, Android, iOS 
	font-weight:lighter;
}
@font-face {
	font-family:"Noto Sans Japanese bold";
	src: url("/common/fonts/notosans/bold/NotoSansCJKjp-Bold.eot");  //IE9 Compat Modes 
	src: url("/common/fonts/notosans/bold/NotoSansCJKjp-Bold.eot?#iefix") format("embedded-opentype"), //eof - IE6-IE8 
		url("/common/fonts/notosans/bold/NotoSansCJKjp-Bold.woff") format("woff"), //woff - Modern Browsers 
		url("/common/fonts/notosans/bold/NotoSansCJKjp-Bold.otf")  format("opentype"); //ttf - Safari, Android, iOS 
	font-weight:lighter;
}
@font-face {
	font-family:"Noto Sans Japanese black";
	src: url("/common/fonts/notosans/black/NotoSansCJKjp-Black.eot");  //IE9 Compat Modes 
	src: url("/common/fonts/notosans/black/NotoSansCJKjp-Black.eot?#iefix") format("embedded-opentype"), //eof - IE6-IE8 
		url("/common/fonts/notosans/black/NotoSansCJKjp-Black.woff") format("woff"), //woff - Modern Browsers 
		url("/common/fonts/notosans/black/NotoSansCJKjp-Black.otf")  format("opentype"); //ttf - Safari, Android, iOS 
	font-weight:lighter;
}



