@charset "UTF-8";
/* ----------------------------------------
  リセット
---------------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ----------------------------------------
  基本設定
---------------------------------------- */
:root {
  font-size: 62.5%;
}

body {
  color: #333;
  font-size: 1.4rem;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  line-height: 1.6;
}
html[lang="en"] body {
  font-family: Arial, sans-serif;
}

a {
  color: #333;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* ----------------------------------------
  コンテナ
---------------------------------------- */
html, body {
  height: 100%;
}

body {
  min-width: 1000px;
  position: relative;
  background-color: #e5e5e5;
  color: #333;
}
body:before, body:after {
  content: '';
  width: 40px;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  z-index: 1000;
  pointer-events: none;
}
body:before {
  margin-left: -675px;
  box-shadow: -40px 0 0 #e5e5e5;
  left: 50%;
}
body:after {
  margin-right: -675px;
  box-shadow: 40px 0 0 #e5e5e5;
  right: 50%;
}

.l-container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1350px;
  height: 100%;
  position: relative;
  background-color: #fff;
  color: #333;
}

/* ----------------------------------------
  グローバルヘッダ
---------------------------------------- */
.l-header {
  position: relative;
  z-index: 200;
  background-color: #fff;
  color: #333;
}

.l-header-inner {
  margin-right: auto;
  margin-left: auto;
  padding: 19px 38px 18px 38px;
  max-width: 1260px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  color: #333;
}
body.home .l-header-inner, body.about .l-header-inner {
  padding: 22px 10px 22px;
  max-width: 1280px;
}

.l-header-logo-target {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-header-logo-type {
  padding-left: 11px;
}

.l-header-utility {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.l-header-utility-link {
  padding-top: 16px;
}
body.home .l-header-utility-link, body.about .l-header-utility-link {
  padding-top: 24px;
}

.l-header-utility-link-item {
  padding-left: 1em;
  display: table-cell;
  font-size: 1.2rem;
  line-height: 1;
  vertical-align: top;
}

.l-header-utility-external {
  padding-top: 14px;
}
body.home .l-header-utility-external, body.about .l-header-utility-external {
  padding-top: 20px;
}

.l-header-utility-external-item {
  padding-left: 20px;
  display: table-cell;
  vertical-align: middle;
}

/* ----------------------------------------
  グローバルナビ
---------------------------------------- */
.l-gnav {
  padding-top: 134px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 100;
  background-image: url("../images/img_sub_main_01.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: auto 134px;
  font-size: 1.6rem;
  line-height: 1.5;
}
body.home .l-gnav, body.about .l-gnav {
  padding-top: 0;
  background: none;
}
body.outline .l-gnav {
  background-image: url("../images/img_sub_main_01.jpg");
}
body.introduction .l-gnav {
  background-image: url("../images/img_sub_main_02.jpg");
}
body.project .l-gnav {
  background-image: url("../images/img_sub_main_03.jpg");
}
body.information .l-gnav {
  background-image: url("../images/img_sub_main_04.jpg");
}
body.link .l-gnav, body.sitemap .l-gnav {
  background-image: url("../images/img_sub_main_05.jpg");
}
html[lang="en"] body.outline .l-gnav {
  background-image: url("../images/img_sub_main_01.jpg");
}
html[lang="en"] body.message .l-gnav {
  background-image: url("../images/img_sub_main_02.jpg");
}
html[lang="en"] body.introduction .l-gnav {
  background-image: url("../images/img_sub_main_03.jpg");
}
html[lang="en"] body.project .l-gnav {
  background-image: url("../images/img_sub_main_04.jpg");
}

.l-gnav-inner {
  margin-right: auto;
  margin-left: auto;
  max-width: 1260px;
}
body.home .l-gnav-inner, body.about .l-gnav-inner {
  border-top: solid 3px #8a805d;
}

.l-gnav-list {
  margin-right: auto;
  margin-left: auto;
  width: 1000px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-align-content: space-around;
      -ms-flex-line-pack: distribute;
          align-content: space-around;
}

.l-gnav-list-item {
  display: inline-block;
  position: relative;
}
.l-gnav-list-item:first-child:before {
  content: '';
  margin-top: auto;
  margin-bottom: auto;
  width: 1px;
  height: 24px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #ccc;
}
.l-gnav-list-item:after {
  content: '';
  margin-top: auto;
  margin-bottom: auto;
  width: 1px;
  height: 24px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
}

html[lang="en"] .l-gnav-list-item {
  width: 20.5%;
}
html[lang="en"] .l-gnav-list-item-message {
  width: 38.5%;
}

.l-gnav-list-item-target {
  padding: 16px 14px;
  display: block;
  background-color: transparent;
  text-align: center;
}
.l-gnav-list-item-target:hover {
  color: #0ba29a;
  font-weight: bold;
  text-decoration: none;
}
html[lang="en"] .l-gnav-list-item-target:hover {
  padding: 16px 5px;
  font-weight: normal;
}

body.about .l-gnav-list-item-about .l-gnav-list-item-target {
  color: #0ba29a;
  font-weight: bold;
}

body.outline .l-gnav-list-item-outline .l-gnav-list-item-target {
  color: #0ba29a;
  font-weight: bold;
}

body.introduction .l-gnav-list-item-introduction .l-gnav-list-item-target {
  color: #0ba29a;
  font-weight: bold;
}

body.project .l-gnav-list-item-project .l-gnav-list-item-target {
  color: #0ba29a;
  font-weight: bold;
}

body.information .l-gnav-list-item-information .l-gnav-list-item-target {
  color: #0ba29a;
  font-weight: bold;
}

body.link .l-gnav-list-item-link .l-gnav-list-item-target {
  color: #0ba29a;
  font-weight: bold;
}

body.message .l-gnav-list-item-message .l-gnav-list-item-target {
  color: #0ba29a;
  font-weight: bold;
}

/* ----------------------------------------
  コンテンツエリア
---------------------------------------- */
.l-content {
  background-color: #fff;
  color: #333;
}

.l-content-inner {
  margin-right: auto;
  margin-left: auto;
  width: 1000px;
}

.l-content-body {
  width: 100%;
}
.l-content-body:before, .l-content-body:after {
  display: table;
  content: ' ';
}
.l-content-body:after {
  clear: both;
}

/* ----------------------------------------
  セクション
---------------------------------------- */
.l-section:not(:last-child) {
  margin-bottom: 50px;
}

.l-section-information:not(:last-child) {
  margin-bottom: 35px;
}
.hdg-01 + .l-section-information {
  margin-top: 55px;
}
.l-section-information p {
  line-height: 1.714;
}

.l-section-narrow {
  margin-right: 37px;
  margin-left: 37px;
}

/* ----------------------------------------
  パンくずナビゲーション
---------------------------------------- */
.l-topicpath {
  margin-top: 17px;
  margin-bottom: 63px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.l-topicpath-item {
  position: relative;
  background-color: transparent;
  color: #666;
  font-size: 1.2rem;
  line-height: 1.2;
}
.l-topicpath-item:not(:first-child) {
  padding-left: 23px;
}
.l-topicpath-item:not(:first-child):before {
  content: '';
  position: absolute;
  top: 0.25em;
  left: 9px;
  content: '';
  width: 0;
  height: 0;
  border: solid 4px transparent;
  border-right: solid 5px transparent;
  border-left: solid 5px #666;
}
.l-topicpath-item > a {
  background-color: transparent;
  color: #666;
}

/* ----------------------------------------
  メインエリア
---------------------------------------- */
.l-main {
  margin-bottom: 75px;
  width: 745px;
  float: right;
}
.l-main:only-child {
  margin-right: auto;
  margin-left: auto;
  float: none;
}
html[lang="en"] .l-main {
  width: 100%;
}

/* ----------------------------------------
  ローカルナビ
---------------------------------------- */
.l-lnav {
  margin-bottom: 50px;
  width: 185px;
  float: left;
}

.l-lnav-hdg {
  margin-top: -0.2em;
  margin-bottom: -0.2em;
  padding-bottom: 15px;
  border-bottom: solid 1px #b5ae95;
  min-height: 62px;
  box-sizing: border-box;
  background-color: transparent;
  color: #0ba29a;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.4;
}

.l-lnav-list {
  margin-top: 17px;
  line-height: 1.2;
}

.l-lnav-list-year {
  margin-top: 36px;
  line-height: 1.2;
}

.l-lnav-list-item-target {
  padding: 10px 5px;
  display: block;
}
.l-lnav-list-item-target:hover, .l-lnav-list-item-target.is-active {
  background-color: #e9f7f6;
  color: #0ba29a;
  text-decoration: none;
}
.l-lnav-list-item-target > em {
  font-weight: normal;
  font-style: normal;
}

/* ----------------------------------------
  ページトップへ戻る
---------------------------------------- */
.l-pagetop {
  position: absolute;
  top: -21px;
  right: 61px;
  z-index: 1000;
}

/* ----------------------------------------
  グローバルフッタ
---------------------------------------- */
.l-footer-wrapper {
  position: relative;
  background-color: #f6f6f6;
  color: #333;
}

.l-footer {
  margin-right: auto;
  margin-left: auto;
  padding-top: 52px;
  padding-bottom: 58px;
  width: 1000px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.l-footer-sitemap-wrapper {
  width: 284px;
}

.l-footer-sitemap {
  line-height: 1;
}

.l-footer-sitemap-item {
  border-top: solid 1px #dbdbdb;
}
.l-footer-sitemap-item:last-child {
  border-bottom: solid 1px #dbdbdb;
}

.l-footer-sitemap-item-target {
  padding: 10px 12px 10px 31px;
  display: block;
  position: relative;
}
.l-footer-sitemap-item-target:before {
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  top: 0;
  left: 12px;
  bottom: 0;
  content: '';
  width: 0;
  height: 0;
  border: solid 3px transparent;
  border-right: solid 4px transparent;
  border-left: solid 4px #0ba29a;
}

.l-footer-sitemap-other-wrapper {
  border-bottom: solid 1px #dbdbdb;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.l-footer-sitemap-other {
  padding-top: 13px;
  padding-bottom: 5px;
  font-size: 1.2rem;
}
.l-footer-sitemap-other + .l-footer-sitemap-other {
  margin-left: 28px;
}

.l-footer-sitemap-other-item {
  margin-bottom: 8px;
}

.l-footer-sitemap-other-item-target {
  padding-left: 31px;
  display: block;
  position: relative;
}
.l-footer-sitemap-other-item-target:before {
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  top: -0.1em;
  left: 12px;
  bottom: 0;
  content: '';
  width: 0;
  height: 0;
  border: solid 3px transparent;
  border-right: solid 4px transparent;
  border-left: solid 4px #0ba29a;
}

.l-footer-address {
  width: 387px;
}

.l-footer-contact-hdg {
  margin-bottom: 10px;
  background-color: transparent;
  color: #0ba29a;
  font-weight: bold;
  line-height: 1;
}

.l-footer-contact-address {
  margin-bottom: 17px;
  padding-top: 10px;
  padding-bottom: 12px;
  border-top: solid 1px #dbdbdb;
  border-bottom: solid 1px #dbdbdb;
}

.l-footer-contact-address-hdg {
  margin-bottom: 7px;
  font-weight: bold;
  line-height: 1.714;
}

.l-footer-contact-address-body {
  line-height: 1.714;
}

html[lang="en"] .l-footer-contact-item-mail {
  clear: left;
}

.l-footer-contact-item-tel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
html[lang="en"] .l-footer-contact-item-tel {
  float: left;
}
html[lang="en"] .l-footer-contact-item-tel + .l-footer-contact-item-tel {
  margin-left: 1em;
}

.l-footer-contact-item-tel-term:after {
  content: '：';
}

.l-footer-external {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l-footer-copyright {
  margin-top: 30px;
  font-size: 1.1rem;
  line-height: 1.2;
}

/* ----------------------------------------
  見出しモジュール（接頭辞: `hdg`）
---------------------------------------- */
/* 見出し 01 */
.hdg-01 {
  margin-bottom: 55px;
  padding: 17px 29px;
  box-shadow: 7px 7px 0 #e5e5e5;
  position: relative;
  background-color: #0ba29a;
  color: #fff;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.2;
}

/* 見出し 01 日付付き */
.hdg-01-title {
  padding-right: 20px;
  width: 580px;
  box-sizing: border-box;
  display: table-cell;
  vertical-align: top;
}

.hdg-01-date {
  display: table-cell;
  vertical-align: bottom;
  font-size: 1.4rem;
  white-space: nowrap;
}

/* 見出し 02 */
.hdg-02, .information-detail .l-main h2 {
  margin-bottom: 17px;
  color: #827751;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.25;
}
.text + .hdg-02, .information-detail .l-main .text + h2 {
  margin-top: 30px;
}

/* 見出し 03 */
.hdg-03, .information-detail .l-main h4,
.information-detail .l-main caption {
  margin-bottom: 17px;
  padding-left: 28px;
  position: relative;
  color: #1ca49c;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}
.hdg-03:before, .information-detail .l-main h4:before,
.information-detail .l-main caption:before {
  content: '';
  box-shadow: 3px 3px 0 #d3d3d3;
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  top: 0.2em;
  left: 2px;
  background-color: #0ba29a;
}

/* 見出し 03 マーカー無し　サイズ大*/
.hdg-03-nomarker {
  margin-bottom: 17px;
  position: relative;
  color: #1ca49c;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.2;
}

/* 見出し 04 */
.hdg-04, .information-detail .l-main h3 {
  margin-bottom: 20px;
  padding-bottom: 3px;
  border-bottom: solid 1px #827751;
  display: table;
  background-color: transparent;
  color: #827751;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.5;
}

/* 見出し イメージ */
.hdg-image {
  margin-bottom: 55px;
  box-shadow: 7px 7px 0 #e5e5e5;
  position: relative;
}
html[lang="en"] .hdg-image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0ba29a;
}

.hdg-image-box {
  padding: 55px 28px 55px 24px;
  width: 260px;
  min-height: 210px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #0ba29a;
  color: #fff;
  font-weight: normal;
}
html[lang="en"] .hdg-image-box {
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 0;
  position: static;
}

.hdg-image-box-category,
.hdg-image-box-name,
.hdg-image-box-post {
  display: block;
  line-height: 1.2;
}

.hdg-image-box-category {
  margin-bottom: 17px;
  padding-bottom: 8px;
  border-bottom: solid 1px #fff;
}

.hdg-image-box-name {
  margin-bottom: 15px;
  font-size: 2.4rem;
}
html[lang="en"] .hdg-image-box-name {
  font-size: 2rem;
  font-weight: bold;
}

html[lang="en"] .hdg-image-box-post {
  line-height: 1.429;
}

/* 見出し プロジェクト */
.hdg-project {
  margin-bottom: 50px;
  box-shadow: 7px 7px 0 #e5e5e5;
  position: relative;
}

.hdg-project-box {
  width: 260px;
  min-height: 210px;
  position: absolute;
  top: 0;
  right: 0;
  display: table;
  background-color: #0ba29a;
  color: #fff;
  font-weight: normal;
}

.hdg-project-box-inner {
  padding: 20px 22px 20px 24px;
  height: 210px;
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
}

.hdg-project-box-name,
.hdg-project-box-post {
  display: block;
}

.hdg-project-box-name {
  margin-bottom: 15px;
  font-size: 2.4rem;
  line-height: 1.2;
}

.hdg-project-box-post {
  line-height: 1.429;
}

/* ----------------------------------------
  テキストモジュール（接頭辞: `text`）
---------------------------------------- */
/* リードテキスト */
.text-lead {
  margin-bottom: 40px;
  padding: 20px 37px;
  background-color: #e9f7f6;
  color: #0ba29a;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.778;
}
.hdg-01 + .text-lead {
  margin-top: -17px;
}

/* 通常テキスト */
.text {
  margin-bottom: 20px;
  font-size: 1.6rem;
  line-height: 2.143;
}

/* 小テキスト */
.text-s {
  font-size: 1.4rem;
}

/* 注釈テキスト */
.text-note {
  font-size: 1.2rem;
  line-height: 1.5;
}

/* メッセージ */
.text-message {
  padding: 45px 40px;
  background-color: #e9f7f6;
}

.text-message-hdg {
  margin-bottom: 24px;
  background-color: transparent;
  color: #0ba29a;
  font-size: 1.8rem;
  font-weight: bold;
}

.text-message-desc {
  line-height: 1.714;
}

/* ----------------------------------------
  リストモジュール（接頭辞: `list`）
---------------------------------------- */
/* インフォメーション リスト */
.list-information {
  margin-top: 50px;
  border-top: solid 1px #b5ae95;
}

.list-information-item {
  padding-top: 15px;
  padding-bottom: 13px;
  border-bottom: solid 1px #b5ae95;
  line-height: 1.714;
}

.list-information-item-date {
  margin-bottom: 2px;
  background-color: transparent;
  color: #0ba29a;
  font-weight: bold;
}

.list-information-item-category {
  margin-left: 10px;
  padding-left: 10px;
  display: inline-block;
  position: relative;
}
.list-information-item-category:before {
  content: '';
  margin-top: auto;
  margin-bottom: auto;
  width: 1px;
  height: 1em;
  background-color: #0ba29a;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

/* ビュレット付き リスト */
.list-disc, .information-detail .l-main ul {
  line-height: 1.714;
}
.list-disc:not(:last-child), .information-detail .l-main ul:not(:last-child) {
  margin-bottom: 10px;
}

.list-disc-item, .information-detail .l-main ul > li {
  padding-left: 12px;
  position: relative;
}
.list-disc-item:not(:last-child), .information-detail .l-main ul > li:not(:last-child) {
  margin-bottom: 7px;
}
.list-disc-item:before, .information-detail .l-main ul > li:before {
  content: '';
  border-radius: 100%;
  width: 5px;
  height: 5px;
  display: block;
  position: absolute;
  top: 0.55em;
  left: 0;
  background-color: #0ba29a;
}

/* インデックス リスト */
.list-index-wrapper:not(:last-child) {
  margin-bottom: 55px;
}

.list-index-hdg {
  margin-bottom: 10px;
  background-color: transparent;
  color: #827751;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1;
}

.list-index {
  margin-bottom: -24px;
  width: 100%;
}
.list-index:before, .list-index:after {
  display: table;
  content: ' ';
}
.list-index:after {
  clear: both;
}

.list-index-item {
  margin-bottom: 24px;
  padding-right: 210px;
  padding-bottom: 20px;
  border-bottom: solid 1px #b5ae95;
  float: left;
  width: 342.5px;
  min-height: 191px;
  box-sizing: border-box;
  position: relative;
}
.list-index-item:nth-child(odd) {
  clear: both;
}
.list-index-item:nth-child(even) {
  float: right;
}
html[lang="en"] .list-index-item {
  width: 464px;
}

.list-index-item-desc {
  padding-top: 55px;
  position: relative;
  z-index: 10;
}

.list-index-item-image {
  position: absolute;
  right: 0;
  bottom: 0;
}

.list-index-item-hdg {
  margin-bottom: 7px;
  background-color: transparent;
  color: #0ba29a;
  font-size: 2.4rem;
  font-weight: normal;
  line-height: 1.2;
}
html[lang="en"] .list-index-item-hdg {
  font-size: 2rem;
  font-weight: bold;
}

.list-index-item-post {
  margin-bottom: 7px;
  background-color: transparent;
  color: #0ba29a;
  line-height: 1.429;
}
html[lang="en"] .list-index-item-post {
  margin-bottom: 0;
  color: #333;
}

.list-index-item-link {
  line-height: 1.2;
}
.list-index-item-link .link-more {
  padding-left: 9px;
  font-size: 1.4rem;
}

/* 略歴 リスト */
.list-chrono {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.list-chrono:not(:last-child) {
  margin-bottom: 5px;
}

.list-chrono-term {
  margin-right: 1em;
  white-space: nowrap;
}

/* プロジェクト リスト */
.list-project:before, .list-project:after {
  display: table;
  content: ' ';
}
.list-project:after {
  clear: both;
}
.hdg-02 + .list-project, .information-detail .l-main h2 + .list-project {
  margin-top: 40px;
}

.list-project-item {
  margin-bottom: 40px;
  float: left;
  width: 344px;
}
.list-project-item:nth-child(odd) {
  clear: both;
}
.list-project-item:nth-child(even) {
  float: right;
}
html[lang="en"] .list-project-item {
  width: 467px;
}

.list-project-item-hdg {
  padding-top: 13px;
  padding-bottom: 13px;
  border-bottom: solid 1px #b5ae95;
  box-sizing: border-box;
  background-color: transparent;
  color: #0ba29a;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.333;
}

.list-project-item-name {
  margin-top: 10px;
  font-size: 1.8rem;
}
html[lang="en"] .list-project-item-name {
  font-weight: bold;
}

.list-project-item-post {
  margin-top: 7px;
  line-height: 1.429;
}

.list-project-item-link {
  margin-top: 10px;
}
.list-project-item-link > .link-more {
  font-size: 1.4rem;
}

/* 関連リンク リスト */
.list-link:not(:last-child) {
  margin-bottom: 20px;
}

.list-link-term {
  margin-bottom: 7px;
}

.list-link-narrow:not(:last-child) {
  margin-bottom: 10px;
}

/* ドット付き リンクリスト */
.list-link-dot {
  margin-top: 30px;
  padding-left: 12px;
  position: relative;
  font-size: 1.6rem;
}
.list-link-dot:before {
  content: '';
  border-radius: 100%;
  width: 5px;
  height: 5px;
  display: block;
  position: absolute;
  top: 0.55em;
  left: 0;
  background-color: #0ba29a;
}

.list-link-dot-term {
  margin-bottom: 5px;
  font-weight: bold;
}

/* サイトマップ リスト */
.list-sitemap-hdg {
  margin-bottom: 25px;
  background-color: transparent;
  color: #827751;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1;
}
.list-sitemap-hdg:only-child {
  margin-bottom: 0;
}
.list-sitemap-hdg > a {
  color: #827751;
  text-decoration: underline;
}
.list-sitemap-hdg > a:hover {
  text-decoration: none;
}

.list-sitemap:not(:last-child) {
  margin-bottom: 10px;
}
.list-sitemap-hdg + .list-sitemap {
  margin-top: 25px;
}

.list-sitemap-item {
  padding-left: 12px;
  position: relative;
  font-size: 1.6rem;
  font-weight: bold;
}
.list-sitemap-item:not(:last-child) {
  margin-bottom: 7px;
}
.list-sitemap-item:before {
  content: '';
  border-radius: 100%;
  width: 5px;
  height: 5px;
  display: block;
  position: absolute;
  top: 0.55em;
  left: 0;
  background-color: #0ba29a;
}
.list-sitemap-item > a {
  text-decoration: underline;
}
.list-sitemap-item > a:hover {
  text-decoration: none;
}

.list-sitemap-float {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.list-sitemap-float-item:not(:first-child) {
  margin-left: 140px;
}

/* ----------------------------------------
  リンクモジュール（接頭辞: `link`）
---------------------------------------- */
/* 詳細リンク */
.link-more {
  padding-left: 12px;
  position: relative;
  font-size: 1.2rem;
  line-height: 1.2;
}
.link-more:before {
  position: absolute;
  top: 0.25em;
  left: 0;
  content: '';
  width: 0;
  height: 0;
  border: solid 3px transparent;
  border-right: solid 4px transparent;
  border-left: solid 4px #0ba29a;
}

/* 下線リンク */
.link-underline {
  text-decoration: underline;
}
.link-underline:hover {
  text-decoration: none;
}

/* 各種ファイル */
.l-content a[href$=".pdf"],
.l-content a[href$=".ppt"],
.l-content a[href$=".pptx"],
.l-content a[href$=".xls"],
.l-content a[href$=".xlsx"],
.l-content a[href$=".doc"],
.l-content a[href$=".docx"] {
  padding-right: 43px;
}
.l-content a[href$=".pdf"]:after,
.l-content a[href$=".ppt"]:after,
.l-content a[href$=".pptx"]:after,
.l-content a[href$=".xls"]:after,
.l-content a[href$=".xlsx"]:after,
.l-content a[href$=".doc"]:after,
.l-content a[href$=".docx"]:after {
  content: '';
  margin-top: -3px;
  margin-left: 10px;
  width: 23px;
  height: 12px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: auto 12px;
  vertical-align: middle;
}
.l-content a[href$=".pdf"]:after {
  background-image: url("../images/icon_pdf.png");
}
.l-content a[href$=".ppt"]:after,
.l-content a[href$=".pptx"]:after {
  background-image: url("../images/icon_ppt.png");
}
.l-content a[href$=".xls"]:after,
.l-content a[href$=".xlsx"]:after {
  background-image: url("../images/icon_xls.png");
}
.l-content a[href$=".doc"]:after,
.l-content a[href$=".docx"]:after {
  background-image: url("../images/icon_doc.png");
}

/* target="_blank" */
.l-content a[target="_blank"] {
  padding-right: 10px;
}
.l-content a[target="_blank"]:after {
  content: '';
  margin-top: -4px;
  margin-left: 10px;
  width: 12px;
  height: 12px;
  display: inline-block;
  background: url("../images/icon_blank.svg") no-repeat 0 0;
  background-size: auto 12px;
  vertical-align: middle;
}

/* リンク領域の拡大 */
body.js .js-enlarge-link {
  cursor: pointer;
}
body.js .js-enlarge-link:hover a {
  text-decoration: underline;
}

/* ----------------------------------------
  テーブルモジュール（接頭辞: `tbl`）
---------------------------------------- */
/* テーブル 01 */
.tbl-01 {
  margin-bottom: 24px;
  width: 100%;
  line-height: 1.714;
  table-layout: fixed;
}
.tbl-01 th,
.tbl-01 td {
  border-top: solid 1px #b5ae95;
  border-bottom: solid 1px #b5ae95;
  border-right: solid 1px #b5ae95;
  vertical-align: middle;
}
.tbl-01 th:last-child,
.tbl-01 td:last-child {
  border-right: none;
}
.tbl-01 th {
  font-weight: normal;
}
.tbl-01 thead th {
  padding: 7px;
  text-align: center;
}
.tbl-01 tbody th {
  padding: 25px 25px 25px 20px;
  text-align: left;
}
.tbl-01 tbody th.tbl-01-cell-arrow {
  padding: 0;
}
.tbl-01 tbody td {
  padding: 15px 22px;
}

.tbl-01-cell-em {
  background-color: #e6f8f7;
}

.tbl-01-num {
  padding-left: 2em;
  position: relative;
  background-color: transparent;
  color: #0ba29a;
  font-weight: bold;
  line-height: 1.714;
}

.tbl-01-num-mark {
  position: absolute;
  top: 0;
  left: 0;
}

.tbl-01-num-sub {
  padding-left: 2em;
  line-height: 1.714;
}

.tbl-01-arrow-wrapper {
  padding: 25px 78px 25px 20px;
  width: 100%;
  height: 100%;
  min-height: 135px;
  box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.tbl-01-arrow.tbl-01-arrow {
  position: absolute;
  right: 20px;
}

.tbl-01-arrow.tbl-01-arrow-down {
  bottom: -10px;
}

.tbl-01-arrow.tbl-01-arrow-up {
  top: -10px;
}

/* テーブル 02 */
.tbl-02 {
  margin-bottom: 24px;
  width: 100%;
  line-height: 1.714;
  table-layout: fixed;
}
.tbl-02 th,
.tbl-02 td {
  border-top: solid 1px #b5ae95;
  border-bottom: solid 1px #b5ae95;
  border-right: solid 1px #b5ae95;
  vertical-align: top;
}
.tbl-02 th:last-child,
.tbl-02 td:last-child {
  border-right: none;
}
.tbl-02 th {
  font-weight: normal;
}
.tbl-02 thead th {
  padding: 7px;
  text-align: left;
}
.tbl-02 tbody th {
  padding: 15px 5px 15px 0;
  background-color: transparent;
  color: #0ba29a;
  text-align: left;
}
.tbl-02 tbody td {
  padding: 15px 22px;
}

/* テーブル 03 */
.tbl-03, .information-detail .l-main table {
  width: 100%;
  line-height: 1.714;
  table-layout: fixed;
}
.tbl-03:not(:last-child), .information-detail .l-main table:not(:last-child) {
  margin-bottom: 24px;
}
.tbl-03 th, .information-detail .l-main table th,
.tbl-03 td,
.information-detail .l-main table td {
  border-top: solid 1px #b5ae95;
  border-bottom: solid 1px #b5ae95;
  border-right: solid 1px #b5ae95;
  vertical-align: top;
}
.tbl-03 th:last-child, .information-detail .l-main table th:last-child,
.tbl-03 td:last-child,
.information-detail .l-main table td:last-child {
  border-right: none;
}
.tbl-03 thead th, .information-detail .l-main table thead th,
.tbl-03 thead td,
.information-detail .l-main table thead td {
  padding: 20px;
  font-weight: bold;
  text-align: left;
}
.tbl-03 tbody th, .information-detail .l-main table tbody th {
  padding: 15px 20px;
  font-weight: normal;
  text-align: left;
}
.tbl-03 tbody td, .information-detail .l-main table tbody td {
  padding: 15px 20px;
}

/* ----------------------------------------
  画像モジュール（接頭辞: `image`）
---------------------------------------- */
/* 通常画像 */
.image {
  margin-bottom: 20px;
  text-align: center;
}

.image-caption {
  margin-top: 15px;
  text-align: left;
}

/* プロフィール画像 */
.image-profile {
  border-bottom: solid 1px #b5ae95;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.image-profile-btm {
  border-top: solid 1px #b5ae95;
}

.image-profile-caption {
  margin-left: 30px;
  background-color: transparent;
  color: #0ba29a;
  font-weight: normal;
}

.image-profile-caption-name,
.image-profile-caption-post {
  display: block;
}

.image-profile-caption-name {
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 2.4rem;
}

.image-profile-item {
  margin-right: 25px;
}

/* ----------------------------------------
  チャートモジュール（接頭辞: `chart`）
---------------------------------------- */
/* チャート */
.chart {
  margin-right: -175px;
  margin-left: -430px;
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 1350px auto;
  background-color: #eff7f8;
  color: #333;
}
.chart > img {
  max-width: 100%;
  height: auto;
}

.chart-inner {
  margin-right: auto;
  margin-left: auto;
  width: 1000px;
}
.chart-inner:before, .chart-inner:after {
  display: table;
  content: ' ';
}
.chart-inner:after {
  clear: both;
}

.chart-content {
  padding-top: 40px;
  padding-bottom: 20px;
  float: right;
  width: 669px;
}

.chart-hdg {
  margin-bottom: 40px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1;
  text-align: center;
}

.chart-image {
  position: relative;
}

.chart-image-item {
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.chart-image-mask {
  position: absolute;
}

.chart-caption {
  margin-top: 30px;
  width: 100%;
  display: table;
  font-size: 1.2rem;
  line-height: 1.5;
}
.chart-caption + .chart-caption {
  margin-top: 0;
}

.chart-caption-term,
.chart-caption-desc {
  display: inline;
}

.chart-caption-term:after {
  content: '：';
}

.chart-desc {
  margin-top: 30px;
  width: 100%;
  display: table;
  background-color: transparent;
  color: #0ba29a;
  line-height: 2.143;
}

.chart-desc-term,
.chart-desc-desc,
.chart-desc-desc > p {
  display: inline;
}

.chart-desc-term:before {
  content: '【';
}
.chart-desc-term:after {
  content: '】';
}

.js .js-chart-type-bar .chart-image-item {
  -webkit-transition: clip 1.6s cubic-bezier(0.4, 0, 0.8, 1);
  transition: clip 1.6s cubic-bezier(0.4, 0, 0.8, 1);
}
.js .js-chart-type-bar .chart-image-item {
  clip: rect(318px, 670px, 318px, 0);
}
.js .js-chart-type-bar .chart-image-item.is-show {
  clip: rect(0, 670px, 318px, 0);
}

.js .js-chart-type-line .chart-image-item {
  -webkit-transition: clip 2.6s cubic-bezier(0.4, 0, 0.8, 1);
  transition: clip 2.6s cubic-bezier(0.4, 0, 0.8, 1);
}
.js .js-chart-type-line .chart-image-item {
  clip: rect(0, 0, 318px, 0);
}
.js .js-chart-type-line .chart-image-item.is-show {
  clip: rect(0, 670px, 318px, 0);
}

/* ----------------------------------------
  インフォメーション
---------------------------------------- */
.information-detail .l-main caption {
  text-align: left;
}
.information-detail .l-main p,
.information-detail .l-main ul,
.information-detail .l-main ul:not(:last-child),
.information-detail .l-main table,
.information-detail .l-main table:not(:last-child) {
  margin-bottom: 35px;
}
.information-detail .l-main p {
  line-height: 1.714;
}
.information-detail .l-main p + p {
  margin-top: -15px;
}
.information-detail .l-main table p {
  margin-bottom: 0;
  line-height: inherit;
}
.information-detail .l-main table p + p {
  margin-top: 0;
}
.information-detail .l-main img {
  margin-bottom: 15px;
  max-width: 100%;
  height: auto;
}
.information-detail .l-main a {
  text-decoration: underline;
}
.information-detail .l-main a:hover {
  text-decoration: none;
}

/* ----------------------------------------
  汎用モジュール（接頭辞: `u`）
---------------------------------------- */
.u-uppercase {
  text-transform: uppercase;
}
