/* ----------------------------------------
Home（接頭辞: `home`）

---------------------------------------- */

// 設定ファイルのインポート
@import '../foundation';

/* ヒーローエリア */

.home-hero {
    padding-top: 393px;
    position: relative;
    min-height: 869px; // 画像の高さ
    box-sizing: border-box;
}
.home-hero-hdg {
    position: absolute;
    top: 106px;
    right: 175px;
    z-index: 1;
    .js & {
        opacity: 0;
    }
    .is-done & {
        opacity: 1;
        animation: 2s home-hero-hdg ease-in-out;
    }
}
@keyframes home-hero-hdg {
    0% {
        opacity: 0;
        transform: translateX(-25px);
    }
    40% {
        opacity: 0;
        transform: translateX(-25px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.home-hero-imgage {
    position: absolute;
    top: 0;
    left: 0;
    .js & {
        opacity: 0;
    }
    .is-done & {
        opacity: 1;
        animation: 1s home-hero-imgage ease-in-out;
    }
    & > img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}
@keyframes home-hero-imgage {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.home-hero-desc-wrapper {
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.4);
    position: relative;
    z-index: 2;
    background-color: rgba(71, 169, 164, 0.6);
    color: #fff;
}
.home-hero-desc {
    margin-right: auto;
    margin-left: auto;
    width: $content-width;
    display: flex;
    justify-content: space-between;
}
.home-hero-desc-text {
    padding-top: 65px;
    padding-bottom: 73px;
    width: 340px;
    font-size: 2rem;
    line-height: (96/40);
    html[lang="en"] & {
        width: 364px;
        line-height: (72/40);
    }
}
.home-hero-desc-image {
    padding-top: 41px;
    display: block;
}
/* コンテンツエリア */

.home-content {
    margin-right: auto;
    margin-left: auto;
    padding-top: 55px;
    padding-bottom: 90px;
    width: $content-width;
    display: flex;
    justify-content: space-between;
}
/* プロジェクト紹介 */

.home-project {
    padding: 30px 33px 0 44px;
    width: 614px;
    box-sizing: border-box;
    position: relative;
    /* ----------------------------------------

  Home（接頭辞: `home`）

  ---------------------------------------- */
    // 設定ファイルのインポート
    @import '../foundation';
    /* ヒーローエリア */
    .home-hero {
        padding-top: 393px;
        position: relative;
        min-height: 869px; // 画像の高さ
        box-sizing: border-box;
    }
    .home-hero-hdg {
        position: absolute;
        top: 106px;
        right: 175px;
        z-index: 1;
        .js & {
            opacity: 0;
        }
        .is-done & {
            opacity: 1;
            animation: 2s home-hero-hdg ease-in-out;
        }
    }
    @keyframes home-hero-hdg {
        0% {
            opacity: 0;
            transform: translateX(-25px);
        }
        40% {
            opacity: 0;
            transform: translateX(-25px);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    .home-hero-imgage {
        position: absolute;
        top: 0;
        left: 0;
        .js & {
            opacity: 0;
        }
        .is-done & {
            opacity: 1;
            animation: 1s home-hero-imgage ease-in-out;
        }
        & > img {
            width: 100%;
            max-width: 100%;
            height: auto;
        }
    }
    @keyframes home-hero-imgage {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .home-hero-desc-wrapper {
        box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.4);
        position: relative;
        z-index: 2;
        background-color: rgba(71, 169, 164, 0.6);
        color: #fff;
    }
    .home-hero-desc {
        margin-right: auto;
        margin-left: auto;
        width: $content-width;
        display: flex;
        justify-content: space-between;
    }
    .home-hero-desc-text {
        padding-top: 65px;
        padding-bottom: 73px;
        width: 340px;
        font-size: 2rem;
        line-height: (96/40);
        html[lang="en"] & {
            width: 364px;
            line-height: (72/40);
        }
    }
    .home-hero-desc-image {
        padding-top: 41px;
        display: block;
    }
    /* コンテンツエリア */
    .home-content {
        margin-right: auto;
        margin-left: auto;
        padding-top: 55px;
        padding-bottom: 90px;
        width: $content-width;
        display: flex;
        justify-content: space-between;
    }
    /* プロジェクト紹介 */
    .home-project {
        padding: 30px 33px 0 44px;
        width: 614px;
        box-sizing: border-box;
        position: relative;
        &:before,
        &:after {
            content: '';
            width: 87px;
            height: 201px;
            display: block;
            position: absolute;
            z-index: 1;
            pointer-events: none;
        }
        &:before {
            border-top: solid 4px #dfdcd2;
            border-left: solid 4px #dfdcd2;
            top: 0;
            left: 0;
        }
        &:after {
            border-right: solid 4px #dfdcd2;
            border-bottom: solid 4px #dfdcd2;
            bottom: 0;
            right: 0;
        }
        .js & {
            visibility: hidden;
        }
        .is-done & {
            visibility: visible;
        }
    }
    .home-project-hdg {
        margin-bottom: 26px;
        background-color: transparent;
        color: $color-02;
        font-size: 3rem;
        font-weight: normal;
        line-height: (80/60);
        & > a {
            color: $color-02;
            text-decoration: none !important;
        }
    }
    .home-project-image {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .home-project-desc {
        padding-top: 51px;
        padding-bottom: 45px;
        padding-left: 280px;
        min-height: 417px; // 画像の高さ
        box-sizing: border-box;
        position: relative;
        z-index: 1;
        font-size: 1.7rem;
        line-height: (68/34);
    }
    .home-project-desc-post {
        margin-top: 20px;
        font-size: 1.4rem;
        line-height: 1;
        text-align: right;
    }
    .home-project-desc-name {
        margin-top: 10px;
        font-size: 2rem;
        line-height: 1;
        text-align: right;
    }
    /* インフォメーション */
    .home-information {
        width: 323px;
    }
    .home-information-hdg-wrapper {
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .home-information-hdg {
        font-weight: normal;
        line-height: 1;
    }
    .home-information-hdg-en {
        display: block;
        color: $color-01;
        background-color: transparent;
        font-size: 3.2rem;
    }
    .home-information-hdg-ja {
        margin-top: 10px;
        display: block;
        font-size: 1.6rem;
    }
    .home-information-more {
        padding-bottom: 3px;
        padding-left: 10px;
        white-space: nowrap;
    }
    .home-information-list-item {
        font-size: 1.6rem;
        line-height: (52/32);
        &:not(:last-child) {
            margin-bottom: 1em;
        }
    }
    .home-information-list-item-date {
        color: $color-01;
        position: relative;
    }
    .home-information-list-item-category {
        margin-left: 10px;
        padding-left: 10px;
        display: inline-block;
        position: relative;
        &:before {
            content: '';
            margin-top: auto;
            margin-bottom: auto;
            width: 1px;
            height: 1em;
            background-color: $color-01;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
        }
    }
    .home-information-list-desc > a {
        display: inline-block;
    }
    /* ----------------------------------------

  Home（接頭辞: `home`）

  ---------------------------------------- */
    // 設定ファイルのインポート
    @import '../foundation';
    /* ヒーローエリア */
    .home-hero {
        padding-top: 393px;
        position: relative;
        min-height: 869px; // 画像の高さ
        box-sizing: border-box;
    }
    .home-hero-hdg {
        position: absolute;
        top: 106px;
        right: 175px;
        z-index: 1;
        .js & {
            opacity: 0;
        }
        .is-done & {
            opacity: 1;
            animation: 2s home-hero-hdg ease-in-out;
        }
    }
    @keyframes home-hero-hdg {
        0% {
            opacity: 0;
            transform: translateX(-25px);
        }
        40% {
            opacity: 0;
            transform: translateX(-25px);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    .home-hero-imgage {
        position: absolute;
        top: 0;
        left: 0;
        .js & {
            opacity: 0;
        }
        .is-done & {
            opacity: 1;
            animation: 1s home-hero-imgage ease-in-out;
        }
        & > img {
            width: 100%;
            max-width: 100%;
            height: auto;
        }
    }
    @keyframes home-hero-imgage {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .home-hero-desc-wrapper {
        box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.4);
        position: relative;
        z-index: 2;
        background-color: rgba(71, 169, 164, 0.6);
        color: #fff;
    }
    .home-hero-desc {
        margin-right: auto;
        margin-left: auto;
        width: $content-width;
        display: flex;
        justify-content: space-between;
    }
    .home-hero-desc-text {
        padding-top: 65px;
        padding-bottom: 73px;
        width: 340px;
        font-size: 2rem;
        line-height: (96/40);
        html[lang="en"] & {
            width: 364px;
            line-height: (72/40);
        }
    }
    .home-hero-desc-image {
        padding-top: 41px;
        display: block;
    }
    /* コンテンツエリア */
    .home-content {
        margin-right: auto;
        margin-left: auto;
        padding-top: 55px;
        padding-bottom: 90px;
        width: $content-width;
        display: flex;
        justify-content: space-between;
    }
    /* プロジェクト紹介 */
    .home-project {
        padding: 30px 33px 0 44px;
        width: 614px;
        box-sizing: border-box;
        position: relative;
        &:before, &:after {
            content: '';
            width: 87px;
            height: 201px;
            display: block;
            position: absolute;
            z-index: 1;
            pointer-events: none;
        }
        &:before {
            border-top: solid 4px #dfdcd2;
            border-left: solid 4px #dfdcd2;
            top: 0;
            left: 0;
        }
        &:after {
            border-right: solid 4px #dfdcd2;
            border-bottom: solid 4px #dfdcd2;
            bottom: 0;
            right: 0;
        }
        .js & {
            visibility: hidden;
        }
        .is-done & {
            visibility: visible;
        }
    }
    .home-project-hdg {
        margin-bottom: 26px;
        background-color: transparent;
        color: $color-02;
        font-size: 3rem;
        font-weight: normal;
        line-height: (80/60);
        & > a {
            color: $color-02;
            text-decoration: none !important;
        }
    }
    .home-project-image {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .home-project-desc {
        padding-top: 51px;
        padding-bottom: 45px;
        padding-left: 280px;
        min-height: 417px; // 画像の高さ
        box-sizing: border-box;
        position: relative;
        z-index: 1;
        font-size: 1.7rem;
        line-height: (68/34);
    }
    .home-project-desc-post {
        margin-top: 20px;
        font-size: 1.4rem;
        line-height: 1;
        text-align: right;
    }
    .home-project-desc-name {
        margin-top: 10px;
        font-size: 2rem;
        line-height: 1;
        text-align: right;
    }
    /* インフォメーション */
    .home-information {
        width: 323px;
    }
    .home-information-hdg-wrapper {
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .home-information-hdg {
        font-weight: normal;
        line-height: 1;
    }
    .home-information-hdg-en {
        display: block;
        color: $color-01;
        background-color: transparent;
        font-size: 3.2rem;
    }
    .home-information-hdg-ja {
        margin-top: 10px;
        display: block;
        font-size: 1.6rem;
    }
    .home-information-more {
        padding-bottom: 3px;
        padding-left: 10px;
        white-space: nowrap;
    }
    .home-information-list-item {
        font-size: 1.6rem;
        line-height: (52/32);
        &:not(:last-child) {
            margin-bottom: 1em;
        }
    }
    .home-information-list-item-date {
        color: $color-01;
        position: relative;
    }
    .home-information-list-item-category {
        margin-left: 10px;
        padding-left: 10px;
        display: inline-block;
        position: relative;
        &:before {
            content: '';
            margin-top: auto;
            margin-bottom: auto;
            width: 1px;
            height: 1em;
            background-color: $color-01;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
        }
    }
    .home-information-list-desc > a {
        display: inline-block;
    }
    /* ----------------------------------------

  Home（接頭辞: `home`）

  ---------------------------------------- */
    // 設定ファイルのインポート
    @import '../foundation';
    /* ヒーローエリア */
    .home-hero {
        padding-top: 393px;
        position: relative;
        min-height: 869px; // 画像の高さ
        box-sizing: border-box;
    }
    .home-hero-hdg {
        position: absolute;
        top: 106px;
        right: 175px;
        z-index: 1;
        .js & {
            opacity: 0;
        }
        .is-done & {
            opacity: 1;
            animation: 2s home-hero-hdg ease-in-out;
        }
    }
    @keyframes home-hero-hdg {
        0% {
            opacity: 0;
            transform: translateX(-25px);
        }
        40% {
            opacity: 0;
            transform: translateX(-25px);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    .home-hero-imgage {
        position: absolute;
        top: 0;
        left: 0;
        .js & {
            opacity: 0;
        }
        .is-done & {
            opacity: 1;
            animation: 1s home-hero-imgage ease-in-out;
        }
        & > img {
            width: 100%;
            max-width: 100%;
            height: auto;
        }
    }
    @keyframes home-hero-imgage {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .home-hero-desc-wrapper {
        box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.4);
        position: relative;
        z-index: 2;
        background-color: rgba(71, 169, 164, 0.6);
        color: #fff;
    }
    .home-hero-desc {
        margin-right: auto;
        margin-left: auto;
        width: $content-width;
        display: flex;
        justify-content: space-between;
    }
    .home-hero-desc-text {
        padding-top: 65px;
        padding-bottom: 73px;
        width: 340px;
        font-size: 2rem;
        line-height: (96/40);
        html[lang="en"] & {
            width: 364px;
            line-height: (72/40);
        }
    }
    .home-hero-desc-image {
        padding-top: 41px;
        display: block;
    }
    /* コンテンツエリア */
    .home-content {
        margin-right: auto;
        margin-left: auto;
        padding-top: 55px;
        padding-bottom: 90px;
        width: $content-width;
        display: flex;
        justify-content: space-between;
    }
    /* プロジェクト紹介 */
    .home-project {
        padding: 30px 33px 0 44px;
        width: 614px;
        box-sizing: border-box;
        position: relative;
        &:before, &:after {
            content: '';
            width: 87px;
            height: 201px;
            display: block;
            position: absolute;
            z-index: 1;
            pointer-events: none;
        }
        &:before {
            border-top: solid 4px #dfdcd2;
            border-left: solid 4px #dfdcd2;
            top: 0;
            left: 0;
        }
        &:after {
            border-right: solid 4px #dfdcd2;
            border-bottom: solid 4px #dfdcd2;
            bottom: 0;
            right: 0;
        }
        .js & {
            visibility: hidden;
        }
        .is-done & {
            visibility: visible;
        }
    }
    .home-project-hdg {
        margin-bottom: 26px;
        background-color: transparent;
        color: $color-02;
        font-size: 3rem;
        font-weight: normal;
        line-height: (80/60);
        & > a {
            color: $color-02;
            text-decoration: none !important;
        }
    }
    .home-project-image {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .home-project-desc {
        padding-top: 51px;
        padding-bottom: 45px;
        padding-left: 280px;
        min-height: 417px; // 画像の高さ
        box-sizing: border-box;
        position: relative;
        z-index: 1;
        font-size: 1.7rem;
        line-height: (68/34);
    }
    .home-project-desc-post {
        margin-top: 20px;
        font-size: 1.4rem;
        line-height: 1;
        text-align: right;
    }
    .home-project-desc-name {
        margin-top: 10px;
        font-size: 2rem;
        line-height: 1;
        text-align: right;
    }
    /* インフォメーション */
    .home-information {
        width: 323px;
    }
    .home-information-hdg-wrapper {
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .home-information-hdg {
        font-weight: normal;
        line-height: 1;
    }
    .home-information-hdg-en {
        display: block;
        color: $color-01;
        background-color: transparent;
        font-size: 3.2rem;
    }
    .home-information-hdg-ja {
        margin-top: 10px;
        display: block;
        font-size: 1.6rem;
    }
    .home-information-more {
        padding-bottom: 3px;
        padding-left: 10px;
        white-space: nowrap;
    }
    .home-information-list-item {
        font-size: 1.6rem;
        line-height: (52/32);
        &:not(:last-child) {
            margin-bottom: 1em;
        }
    }
    .home-information-list-item-date {
        color: $color-01;
        position: relative;
    }
    .home-information-list-item-category {
        margin-left: 10px;
        padding-left: 10px;
        display: inline-block;
        position: relative;
        &:before {
            content: '';
            margin-top: auto;
            margin-bottom: auto;
            width: 1px;
            height: 1em;
            background-color: $color-01;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
        }
    }
    .home-information-list-desc > a {
        display: inline-block;
    }
    /* ----------------------------------------

  Home（接頭辞: `home`）

  ---------------------------------------- */
    // 設定ファイルのインポート
    @import '../foundation';
    /* ヒーローエリア */
    .home-hero {
        padding-top: 393px;
        position: relative;
        min-height: 869px; // 画像の高さ
        box-sizing: border-box;
    }
    .home-hero-hdg {
        position: absolute;
        top: 106px;
        right: 175px;
        z-index: 1;
        .js & {
            opacity: 0;
        }
        .is-done & {
            opacity: 1;
            animation: 2s home-hero-hdg ease-in-out;
        }
    }
    @keyframes home-hero-hdg {
        0% {
            opacity: 0;
            transform: translateX(-25px);
        }
        40% {
            opacity: 0;
            transform: translateX(-25px);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    .home-hero-imgage {
        position: absolute;
        top: 0;
        left: 0;
        .js & {
            opacity: 0;
        }
        .is-done & {
            opacity: 1;
            animation: 1s home-hero-imgage ease-in-out;
        }
        & > img {
            width: 100%;
            max-width: 100%;
            height: auto;
        }
    }
    @keyframes home-hero-imgage {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .home-hero-desc-wrapper {
        box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.4);
        position: relative;
        z-index: 2;
        background-color: rgba(71, 169, 164, 0.6);
        color: #fff;
    }
    .home-hero-desc {
        margin-right: auto;
        margin-left: auto;
        width: $content-width;
        display: flex;
        justify-content: space-between;
    }
    .home-hero-desc-text {
        padding-top: 65px;
        padding-bottom: 73px;
        width: 340px;
        font-size: 2rem;
        line-height: (96/40);
        html[lang="en"] & {
            width: 364px;
            line-height: (72/40);
        }
    }
    .home-hero-desc-image {
        padding-top: 41px;
        display: block;
    }
    /* コンテンツエリア */
    .home-content {
        margin-right: auto;
        margin-left: auto;
        padding-top: 55px;
        padding-bottom: 90px;
        width: $content-width;
        display: flex;
        justify-content: space-between;
    }
    /* プロジェクト紹介 */
    .home-project {
        padding: 30px 33px 0 44px;
        width: 614px;
        box-sizing: border-box;
        position: relative;
        &:before, &:after {
            content: '';
            width: 87px;
            height: 201px;
            display: block;
            position: absolute;
            z-index: 1;
            pointer-events: none;
        }
        &:before {
            border-top: solid 4px #dfdcd2;
            border-left: solid 4px #dfdcd2;
            top: 0;
            left: 0;
        }
        &:after {
            border-right: solid 4px #dfdcd2;
            border-bottom: solid 4px #dfdcd2;
            bottom: 0;
            right: 0;
        }
        .js & {
            visibility: hidden;
        }
        .is-done & {
            visibility: visible;
        }
    }
    .home-project-hdg {
        margin-bottom: 26px;
        background-color: transparent;
        color: $color-02;
        font-size: 3rem;
        font-weight: normal;
        line-height: (80/60);
        & > a {
            color: $color-02;
            text-decoration: none !important;
        }
    }
    .home-project-image {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .home-project-desc {
        padding-top: 51px;
        padding-bottom: 45px;
        padding-left: 280px;
        min-height: 417px; // 画像の高さ
        box-sizing: border-box;
        position: relative;
        z-index: 1;
        font-size: 1.7rem;
        line-height: (68/34);
    }
    .home-project-desc-post {
        margin-top: 20px;
        font-size: 1.4rem;
        line-height: 1;
        text-align: right;
    }
    .home-project-desc-name {
        margin-top: 10px;
        font-size: 2rem;
        line-height: 1;
        text-align: right;
    }
    /* インフォメーション */
    .home-information {
        width: 323px;
    }
    .home-information-hdg-wrapper {
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .home-information-hdg {
        font-weight: normal;
        line-height: 1;
    }
    .home-information-hdg-en {
        display: block;
        color: $color-01;
        background-color: transparent;
        font-size: 3.2rem;
    }
    .home-information-hdg-ja {
        margin-top: 10px;
        display: block;
        font-size: 1.6rem;
    }
    .home-information-more {
        padding-bottom: 3px;
        padding-left: 10px;
        white-space: nowrap;
    }
    .home-information-list-item {
        font-size: 1.6rem;
        line-height: (52/32);
        &:not(:last-child) {
            margin-bottom: 1em;
        }
    }
    .home-information-list-item-date {
        color: $color-01;
        position: relative;
    }
    .home-information-list-item-category {
        margin-left: 10px;
        padding-left: 10px;
        display: inline-block;
        position: relative;
        &:before {
            content: '';
            margin-top: auto;
            margin-bottom: auto;
            width: 1px;
            height: 1em;
            background-color: $color-01;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
        }
    }
    .home-information-list-desc > a {
        display: inline-block;
    }
    &:before,
    &:after {
        content: '';
        width: 87px;
        height: 201px;
        display: block;
        position: absolute;
        z-index: 1;
        pointer-events: none;
    }
    &:before {
        border-top: solid 4px #dfdcd2;
        border-left: solid 4px #dfdcd2;
        top: 0;
        left: 0;
    }
    &:after {
        border-right: solid 4px #dfdcd2;
        border-bottom: solid 4px #dfdcd2;
        bottom: 0;
        right: 0;
    }
    .js & {
        visibility: hidden;
    }
    .is-done & {
        visibility: visible;
    }
}
.home-project-hdg {
    margin-bottom: 26px;
    background-color: transparent;
    color: $color-02;
    font-size: 3rem;
    font-weight: normal;
    line-height: (80/60);
    & > a {
        color: $color-02;
        text-decoration: none !important;
    }
}
.home-project-image {
    position: absolute;
    left: 0;
    bottom: 0;
}
.home-project-desc {
    padding-top: 51px;
    padding-bottom: 45px;
    padding-left: 280px;
    min-height: 417px; // 画像の高さ
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    font-size: 1.7rem;
    line-height: (68/34);
}
.home-project-desc-post {
    margin-top: 20px;
    font-size: 1.4rem;
    line-height: 1;
    text-align: right;
}
.home-project-desc-name {
    margin-top: 10px;
    font-size: 2rem;
    line-height: 1;
    text-align: right;
}
/* インフォメーション */

.home-information {
    width: 323px;
}
.home-information-hdg-wrapper {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.home-information-hdg {
    font-weight: normal;
    line-height: 1;
}
.home-information-hdg-en {
    display: block;
    color: $color-01;
    background-color: transparent;
    font-size: 3.2rem;
}
.home-information-hdg-ja {
    margin-top: 10px;
    display: block;
    font-size: 1.6rem;
}
.home-information-more {
    padding-bottom: 3px;
    padding-left: 10px;
    white-space: nowrap;
}
.home-information-list-item {
    font-size: 1.6rem;
    line-height: (52/32);
    &:not(:last-child) {
        margin-bottom: 1em;
    }
}
.home-information-list-item-date {
    color: $color-01;
    position: relative;
}
.home-information-list-item-category {
    margin-left: 10px;
    padding-left: 10px;
    display: inline-block;
    position: relative;
    &:before {
        content: '';
        margin-top: auto;
        margin-bottom: auto;
        width: 1px;
        height: 1em;
        background-color: $color-01;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
    }
}
.home-information-list-desc > a {
    display: inline-block;
}