/*
# Text Module

テキスト関連のスタイルをモジュール化

`.fwn`で太字解除
`.bdb`で下線ボーダー

# Head Module

```
<h1 class="txtHead_01">見出しテキスト 01</h1>
<h1 class="txtHead_01 fwn">見出しテキスト 01</h1>
<h1 class="txtHead_01 bdb">見出しテキスト 01</h1>
```
```
<h1 class="txtHead_02">見出しテキスト 02</h1>
<h1 class="txtHead_02 fwn">見出しテキスト 02</h1>
<h1 class="txtHead_02 bdb">見出しテキスト 02</h1>
```
```
<h1 class="txtHead_03">見出しテキスト 03</h1>
<h1 class="txtHead_03 fwn">見出しテキスト 03</h1>
<h1 class="txtHead_03 bdb">見出しテキスト 03</h1>
```
*/
.txtHead_01	{
	font-size:30px;
	font-weight:bold;
}

.txtHead_02	{
	font-size:24px;
	font-weight:bold;
}

.txtHead_03	{
	font-size:18px;
	font-weight:bold;
}

.txtHead_01,
.txtHead_02,
.txtHead_03 {
	margin: 0;
	padding: 0;
	line-height:1em;
	&.fwn{ font-weight: normal; }
	&.bdb{ padding-bottom:3px; border-bottom:1px solid #000;}
}