if lang === 'en'
	- var setFilepath = filepath + "/common/css/en";
else
	- var setFilepath = filepath + "/common/css";
 
//- Layout for CSS
link(rel="stylesheet", href=setFilepath + "/common.css")


//-ページ毎のファイルを読み込む
if contentsCss
	- for (var i = 0; i < contentsCss.length; i++) {
		-var href = contentsCss[i]
		link(rel="stylesheet", href=href)
		- }
else
