//- グローバルフッタ
footer.footer
	//- ページトップへ戻る
	div#js-l-pagetop.l-pagetop
		a(href="#top"): img(src=filepath+"/common/images/btn_pagetop.svg", width="43", height="43", alt="ページトップへ戻る")

	.footer__inner
    
		//- 領域HPへのお問い合わせ
		.footer__contact
							
		//- コピーライト
		p.footer__copyright Copyright &copy; All rights reserved.
		
///footer