//- グローバルフッタ
footer.footer
	//- ページトップへ戻る
	#page-top-btn
		a(href="#top") ページトップへ戻る

	.footer__inner
    
		//- 領域HPへのお問い合わせ
		.footer__contact
							
		//- コピーライト
		p.footer__copyright Copyright &copy; All rights reserved.
		
///footer