if lang === 'en'
	- var setFilepath = filepath + "/common/js/";
else
	- var setFilepath = filepath + "/common/js/";

script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js")
script(src=setFilepath+"/module.js")
script(src=setFilepath+"/main.js")


//-ページ毎のファイルを読み込む
if contentsJs
	- for (var i = 0; i < contentsJs.length; i++) {
		-var src = contentsJs[i]
		script(src=src)
	- }
else
