if lang === 'en'
  - var setFilepath = filepath + "/common/js";
else
  - var setFilepath = filepath + "/common/js";

script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
script(src=setFilepath+"/module.js")
script(src=setFilepath+"/main.js")
