@charset "UTF-8";
//
//記述はレイアウトの構造優先
//-----------------------------
//1.width,height
//2.float,clear
//3.position,top,bottom,left,right
//4.overflow,display
//5.margin,padding
//6.text-align
//7.font,line-height
//8.background,border
//9.etc....
//-----------------------------
//
//フォントサイズ：%表示（20px以降はpxで可）



@import "partials/_setting";
@import "partials/_mixin";
@import "partials/_function";
@import "partials/_reset";





/*============================================================
LAYOUT用スタイル　
============================================================*/
html	{ height:100%;}
body	{ height:100%; text-align:left; @include select-color(#fff,scheme(key));}
body > #wrapper { height:auto;}
#wrapper { min-width:1080px; min-height:100%; height:auto !important; height:100%; position:relative;
	@include iphone	{ -webkit-text-size-adjust: none;}
	
	//ページトップに戻る
	#topBack	{ @include bottom-left(300,0); color:#fff;}
}




/*HEADER
--------------------------------------------------------------------*/
#header	{

	/* ロゴ・CI・サイトタイトル */
	#ci	{
		a:hover img	{ opacity:0.6;}
	}
}




/*NAVIGATION
--------------------------------------------------------------------*/
#gNav	{//入れ子を減らすために並列に記述
	ul	{ overflow:hidden;}
	li	{ float:left;}
	a 	{ display:block;
		&:hover	{}
	}
	img	{ display:block;}
}




/*CONTENTS
--------------------------------------------------------------------*/

/* コンテンツ部分 */
#contents	{ padding:0 0 2100px; overflow:hidden; position:relative; background:#ccc;}


/* メインコンテンツ */
#main	{}


/* サブコンテンツ */
#sub {}




/*FOOTER
--------------------------------------------------------------------*/
#footer	{ width:100%; height:100px; @include bottom-left; background:blue;
	#copyright	{}
}



