@charset "UTF-8";
//
//記述はレイアウトの構造優先
//-----------------------------
//1.width,height
//2.float,clear
//3.position,top,bottom,left,right
//4.overflow,display
//5.margin,padding
//6.text-align
//7.font,line-height
//8.background,border
//9.etc....
//-----------------------------
//
//フォントサイズ：%表示（20px以降はpxで可）



@import "partials/_setting";
@import "partials/_mixin";
@import "partials/_function";
@import "partials/_reset";





/*============================================================
LAYOUT用スタイル　
============================================================*/
html	{ height:100%;}
body	{ height:100%; text-align:left; @include select-color(#fff,scheme(key));}
body > #wrapper { height:auto;}
#wrapper { /*min-width:$width;*/ min-height:100%; height:auto !important; height:100%; position:relative;
	@include iphone	{ -webkit-text-size-adjust: none;}
	
	//ページトップに戻る
	#topBack	{ @include bottom-left(300,0); color:#fff;}
}




/*HEADER
--------------------------------------------------------------------*/
#header	{ height:50px; background:#fff;
	#ci	{
		a:hover img	{ opacity:0.6;}
	}
}




/*NAVIGATION
--------------------------------------------------------------------*/
#gNav	{
	ul	{ overflow:hidden;}
	li	{ float:left;}
	a 	{ display:block;
		&:hover	{}
	}
	img	{ display:block;}
}




/*CONTENTS
--------------------------------------------------------------------*/
/* コンテンツ部分 */
#contents	{ /*width:$width;*/ margin:0 auto; padding:0 0 500px; overflow:hidden; position:relative;}


/* メインコンテンツ */
#main	{}


/* サブコンテンツ */
#sub {}




/*FOOTER
--------------------------------------------------------------------*/
#footer	{ width:100%; height:50px; @include bottom-left; background:#fff;
	#copyright	{}
}



