extends /_templates/_layout

block vars
	//- ページタイトル
	- var title    	= 'トップページ'
	
	//- `body` に追加する class
	- var category 	= 'top-category'
	- var id 		= 'top'

	//- 共通ファイルを参照する相対パス
	- var filepath 	= '.'
	
	//- meta
	- var keyword 		= 'ダミーキーワードダミーキーワードダミーキーワードダミーキーワード'
	- var description 	= 'ダミーディスクリプションダミーディスクリプションダミーディスクリプション'
	
	//- 言語アノテーション
	- var hreflang 	= 'ja'
	- var dir     	= '/index.html'
	
	//- 外部ファイルパス
	- var contentsCss 	= [filepath + '/common/css/contents/top.css']
	- var contentsJs 	= [filepath + '/common/js/contents/top.js']


block content
	
	p テスト
	
	//- ヒーローエリア
	.home-hero
		p.home-hero-txt
			|外部からは見えにくい、個人が抱える悩みや問題をどう見つけ、支援や対応につなげていくには何をすべきか。<br>私たちは、より良い社会づくりをめざし、支援が必要な人と支援が可能な機能をつなげる橋渡しをしたいと考えています。
