@charset "UTF-8";
@import "_setting";

//-------------------------------------//
// Helper Classes
//-------------------------------------//

// Clearfix (.group)
.ex-gp:before,
.ex-gp:after {content: "";display: table !important;}
.ex-gp:after { clear: both; }

// Image Replacement
.ex-ir {overflow: hidden;white-space: nowrap;text-indent: 100%;}

// Ellipsis
.ex-elps {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

.ex-fl { float: left; }
.ex-fr { float: right; }

.ex-full 	{ width: 100%; }
.ex-half 	{ width: 50%; }
.ex-third	{ width: 33.3%; }
.ex-quater	{ width: 25%; }
.ex-fifth	{ width: 20%; }

.ex-posr { position: relative; }
.ex-posa { position: absolute; }


// State Classes
//-------------------------------------

.ex-invisible { visibility: hidden; }

.ex-dn { display: none !important; }
.ex-db { display: block !important; }
.ex-di { display: inline !important; }
.ex-ds { display: inline-block !important; }
.ex-dt { display: table !important; }
.ex-dc { display: table-cell !important;}


// Spacing Classes
//-------------------------------------

.ex-mod { margin: $space-2; }
.ex-mgn { margin: 0 !important; }
.ex-mca { margin:0 auto !important;}

.ex-mtn { margin-top: 0 !important; }
.ex-mts { margin-top: $space-base !important; }
.ex-mtm { margin-top: $space-2 !important; }
.ex-mtl { margin-top: $space-3 !important; }

.ex-mbn { margin-bottom: 0 !important; }
.ex-mbs { margin-bottom: $space-base !important; }
.ex-mbm { margin-bottom: $space-2 !important; }
.ex-mbl { margin-bottom: $space-3 !important; }

.ex-mln { margin-left: 0 !important; }
.ex-mls { margin-left: $space-base !important; }
.ex-mlm { margin-left: $space-2 !important; }
.ex-mll { margin-left: $space-3 !important; }

.ex-mrn { margin-right: 0 !important; }
.ex-mrs { margin-right: $space-base !important; }
.ex-mrm { margin-right: $space-2 !important; }
.ex-mrl { margin-right: $space-3 !important; }

.ex-nmts { margin-top: -$space-base !important; }
.ex-nmtm { margin-top: -$space-2 !important; }
.ex-nmtl { margin-top: -$space-3 !important; }

.ex-nmbs { margin-bottom: -$space-base !important; }
.ex-nmbm { margin-bottom: -$space-2 !important; }
.ex-nmbl { margin-bottom: -$space-3 !important; }

.ex-nmls { margin-left: -$space-base !important; }
.ex-nmlm { margin-left: -$space-2 !important; }
.ex-nmll { margin-left: -$space-3 !important; }

.ex-nmrs { margin-right: -$space-base !important; }
.ex-nmrm { margin-right: -$space-2 !important; }
.ex-nmrl { margin-right: -$space-3 !important; }

.ex-ptn { padding-top: 0 !important; }
.ex-pts { padding-top: $space-base !important; }
.ex-ptm { padding-top: $space-2 !important; }
.ex-ptl { padding-top: $space-3 !important; }

.ex-pbn { padding-bottom: 0 !important; }
.ex-pbs { padding-bottom: $space-base !important; }
.ex-pbm { padding-bottom: $space-2 !important; }
.ex-pbl { padding-bottom: $space-3 !important; }

.ex-pln { padding-left: 0 !important; }
.ex-pls { padding-left: $space-base !important; }
.ex-plm { padding-left: $space-2 !important; }
.ex-pll { padding-left: $space-3 !important; }

.ex-prn { padding-right: 0 !important; }
.ex-prs { padding-right: $space-base !important; }
.ex-prm { padding-right: $space-2 !important; }
.ex-prl { padding-right: $space-3 !important; }



// Text Decorative Classes
//-------------------------------------

//.ca { color: $color-a !important; }
//.cb { color: $color-b !important; }
//.cc { color: $color-c !important; }
//.cd { color: $color-d !important; }
//.ce { color: $color-e !important; }
//.cf { color: $color-f !important; }
//.cg { color: $color-g !important; }
//.ch { color: $color-h !important; }

//.ba { background-color: $color-a !important; }
//.bb { background-color: $color-b !important; }
//.bc { background-color: $color-c !important; }
//.bd { background-color: $color-d !important; }
//.be { background-color: $color-e !important; }
//.bf { background-color: $color-f !important; }
//.bg { background-color: $color-g !important; }
//.bh { background-color: $color-h !important; }

.ex-fwn { font-weight: normal !important; }
.ex-fwb { font-weight: bold !important; }

.ex-tal { text-align: left !important; }
.ex-tac { text-align: center !important; }
.ex-tar { text-align: right !important; }

.ex-tdn { text-decoration: none !important; }
.ex-tdu { text-decoration: underline !important; }

.ex-fsmin-1{font-size:$fs-min-1 !important;}
.ex-fsmin-2{font-size:$fs-min-2 !important;}
.ex-fsmin-3{font-size:$fs-min-3 !important;}
.ex-fsmax-1{font-size:$fs-max-1 !important;}
.ex-fsmax-2{font-size:$fs-max-2 !important;}
.ex-fsmax-3{font-size:$fs-max-3 !important;}
.ex-fsmax-4{font-size:$fs-max-4 !important;}
.ex-fsmax-5{font-size:$fs-max-5 !important;}
.ex-fsmax-6{font-size:$fs-max-6 !important;}

.ex-v1 { vertical-align: -1px; }
.ex-v2 { vertical-align: -2px; }
.ex-v3 { vertical-align: -3px; }
.ex-vt { vertical-align: top; }
.ex-vm { vertical-align: middle; }
.ex-vb { vertical-align: bottom; }