@charset "UTF-8";
.top-grids__link[target="_blank"] { position: relative; }
.top-grids__link[target="_blank"]:before, .top-grids__link[target="_blank"]:after { content: " "; width: 11px; height: 8px; display: block; position: absolute; }
.top-grids__link[target="_blank"]:before { background: #787ef0; top: 2px; right: -23px; border: 1px solid white; transition: 0.25s ease-out background; }
.top-grids__link[target="_blank"]:after { background: #33366a; top: 6px; right: -19px; border: 1px solid white; transition: 0.25s ease-out background; }
.top-grids__link[target="_blank"]:hover:before { width: 9px; height: 6px; -webkit-transform: translate(-1px, 1px); transform: translate(-1px, 1px); background: transparent; border-color: #787ef0; }
.top-grids__link[target="_blank"]:hover:after { width: 9px; height: 6px; -webkit-transform: translate(-1px, 1px); transform: translate(-1px, 1px); background: transparent; border-color: #33366a; }
@media screen and (max-width: 768px) { .u-spdn { display: none !important; } }
.u-pcdn { display: none !important; }
@media screen and (max-width: 768px) { .u-pcdn { display: block !important; } }

.br.u-pcdn { display: none !important; }
@media screen and (max-width: 768px) { .br.u-pcdn { display: inline !important; } }

.u-clear:before, .u-clear:after { content: ""; display: table !important; }
.u-clear:after { clear: both; }
.u-ir { overflow: hidden; white-space: nowrap; text-indent: 100%; }
.u-elps { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.u-ofh { overflow: hidden !important; }
.u-fl { float: left; }
.u-fr { float: right; }
.u-full { width: 100%; }
.u-half { width: 50%; }
.u-third { width: 33.3%; }
.u-quater { width: 25%; }
.u-fifth { width: 20%; }
.u-posr { position: relative; }
.u-posa { position: absolute; }
.u-dn { display: none !important; }
.u-db { display: block !important; }
.u-di { display: inline !important; }
.u-ds { display: inline-block !important; }
.u-dt { display: table !important; }
.u-dc { display: table-cell !important; }
.u-mt-0 { margin-top: 0px !important; }
.u-mt-5 { margin-top: 5px !important; }
.u-mt-10 { margin-top: 10px !important; }
.u-mt-15 { margin-top: 15px !important; }
.u-mt-20 { margin-top: 20px !important; }
.u-mt-25 { margin-top: 25px !important; }
.u-mt-30 { margin-top: 30px !important; }
.u-mt-35 { margin-top: 35px !important; }
.u-mt-40 { margin-top: 40px !important; }
.u-mt-45 { margin-top: 45px !important; }
.u-mt-50 { margin-top: 50px !important; }
.u-mr-0 { margin-right: 0px !important; }
.u-mr-5 { margin-right: 5px !important; }
.u-mr-10 { margin-right: 10px !important; }
.u-mr-15 { margin-right: 15px !important; }
.u-mr-20 { margin-right: 20px !important; }
.u-mr-25 { margin-right: 25px !important; }
.u-mr-30 { margin-right: 30px !important; }
.u-mr-35 { margin-right: 35px !important; }
.u-mr-40 { margin-right: 40px !important; }
.u-mr-45 { margin-right: 45px !important; }
.u-mr-50 { margin-right: 50px !important; }
.u-mb-0 { margin-bottom: 0px !important; }
.u-mb-5 { margin-bottom: 5px !important; }
.u-mb-10 { margin-bottom: 10px !important; }
.u-mb-15 { margin-bottom: 15px !important; }
.u-mb-20 { margin-bottom: 20px !important; }
.u-mb-25 { margin-bottom: 25px !important; }
.u-mb-30 { margin-bottom: 30px !important; }
.u-mb-35 { margin-bottom: 35px !important; }
.u-mb-40 { margin-bottom: 40px !important; }
.u-mb-45 { margin-bottom: 45px !important; }
.u-mb-50 { margin-bottom: 50px !important; }
.u-ml-0 { margin-left: 0px !important; }
.u-ml-5 { margin-left: 5px !important; }
.u-ml-10 { margin-left: 10px !important; }
.u-ml-15 { margin-left: 15px !important; }
.u-ml-20 { margin-left: 20px !important; }
.u-ml-25 { margin-left: 25px !important; }
.u-ml-30 { margin-left: 30px !important; }
.u-ml-35 { margin-left: 35px !important; }
.u-ml-40 { margin-left: 40px !important; }
.u-ml-45 { margin-left: 45px !important; }
.u-ml-50 { margin-left: 50px !important; }
.u-pa-0 { padding: 0px !important; }
.u-pa-5 { padding: 5px !important; }
.u-pa-10 { padding: 10px !important; }
.u-pa-15 { padding: 15px !important; }
.u-pa-20 { padding: 20px !important; }
.u-pa-25 { padding: 25px !important; }
.u-pa-30 { padding: 30px !important; }
.u-pt-0 { padding-top: 0px !important; }
.u-pt-5 { padding-top: 5px !important; }
.u-pt-10 { padding-top: 10px !important; }
.u-pt-15 { padding-top: 15px !important; }
.u-pt-20 { padding-top: 20px !important; }
.u-pt-25 { padding-top: 25px !important; }
.u-pt-30 { padding-top: 30px !important; }
.u-pt-35 { padding-top: 35px !important; }
.u-pt-40 { padding-top: 40px !important; }
.u-pt-45 { padding-top: 45px !important; }
.u-pt-50 { padding-top: 50px !important; }
.u-pr-0 { padding-right: 0px !important; }
.u-pr-5 { padding-right: 5px !important; }
.u-pr-10 { padding-right: 10px !important; }
.u-pr-15 { padding-right: 15px !important; }
.u-pr-20 { padding-right: 20px !important; }
.u-pr-25 { padding-right: 25px !important; }
.u-pr-30 { padding-right: 30px !important; }
.u-pb-0 { padding-bottom: 0px !important; }
.u-pb-5 { padding-bottom: 5px !important; }
.u-pb-10 { padding-bottom: 10px !important; }
.u-pb-15 { padding-bottom: 15px !important; }
.u-pb-20 { padding-bottom: 20px !important; }
.u-pb-25 { padding-bottom: 25px !important; }
.u-pb-30 { padding-bottom: 30px !important; }
.u-pl-0 { padding-left: 0px !important; }
.u-pl-5 { padding-left: 5px !important; }
.u-pl-10 { padding-left: 10px !important; }
.u-pl-15 { padding-left: 15px !important; }
.u-pl-20 { padding-left: 20px !important; }
.u-pl-25 { padding-left: 25px !important; }
.u-pl-30 { padding-left: 30px !important; }
.u-mca { margin: 0 auto !important; }
.u-fss-1 { font-size: 1.2rem !important; }
.u-fss-2 { font-size: 1.1rem !important; }
.u-fss-3 { font-size: 1rem !important; }
.u-fsl-1 { font-size: 1.4rem !important; }
.u-fsl-2 { font-size: 1.5rem !important; }
.u-fsl-3 { font-size: 1.6rem !important; }
.u-fsl-4 { font-size: 1.7rem !important; }
.u-fsl-5 { font-size: 1.8rem !important; }
.u-fsl-6 { font-size: 1.9rem !important; }
.u-fwn { font-weight: normal !important; }
.u-fwb { font-weight: bold !important; }
.u-tal { text-align: left !important; }
.u-tac { text-align: center !important; }
.u-tar { text-align: right !important; }
.u-tdn { text-decoration: none !important; }
.u-tdu { text-decoration: underline !important; }
.u-v1 { vertical-align: -1px; }
.u-v2 { vertical-align: -2px; }
.u-v3 { vertical-align: -3px; }
.u-vt { vertical-align: top; }
.u-vm { vertical-align: middle; }
.u-vb { vertical-align: bottom; }
/*トップページ
--------------------------------------------------------------------*/
#top #header { height: 122px; background: rgba(255, 255, 255, 0.05); }
#top .container { width: 980px; margin: 0 auto; background: none; }
/*----------- main-visual -----------*/
.top-visual { padding: 20px 0 65px; }
.top-visual img { display: block; margin: 0 auto; }
/*----------- top section -----------*/
.top-section { zoom: 1; }
.top-section:before, .top-section:after { display: block; height: 0; visibility: hidden; content: "\0020"; }
.top-section:after { clear: both; }
.top-section__hd { margin: 0 0 24px; overflow: hidden; line-height: 1; }
.top-section__hd a { display: inline-block; float: right; padding: 0 0 0 15px; margin: 6px 0 0; color: white; font-size: 1.4rem; letter-spacing: 2px; text-align: right; border-left: 1px solid #666; }
.top-section__hd a:hover { text-decoration: underline dashed; }
.top-section + .top-section { margin-top: 60px; }
/*----------- top grid -----------*/
.top-grids { zoom: 1; }
.top-grids:before, .top-grids:after { display: block; height: 0; visibility: hidden; content: "\0020"; }
.top-grids:after { clear: both; }
.top-grids__item { width: 320px; float: left; padding: 12px 20px 15px; margin: 0 10px 0 0; background: #fff; box-sizing: border-box; font-size: 1.6rem; color: #222; line-height: 1.55; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5); transition: 0.3s cubic-bezier(0, 0.75, 0.58, 1); }
.top-grids__item time { display: block; margin: 0 0 5px; font-size: 1.4rem; font-weight: bold; }
.top-grids__item figure { display: block; -webkit-transform: translate(-20px, -12px); transform: translate(-20px, -12px); }
.top-grids__item img { display: block; transition: 0.15s ease-out; }
.top-grids__item:nth-child(3n) { margin-right: 0; }
.top-grids__item:hover { background: rgba(190, 197, 219, 0.6); color: white; }
.top-grids__link { width: 320px; float: left; padding: 18px 20px; margin: 0 10px 0 0; background: #e5ecf2; box-sizing: border-box; font-size: 1.6rem; color: #222; line-height: 1.55; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5); transition: 0.3s cubic-bezier(0, 0.75, 0.58, 1); }
.top-grids__link[target="_blank"]:before { top: 20px; right: 20px; }
.top-grids__link[target="_blank"]:after { top: 24px; right: 24px; }
.top-grids__link[target="_blank"]:hover:before, .top-grids__link[target="_blank"]:hover:after { width: 11px; height: 8px; -webkit-transform: none; transform: none; border-color: white; }
.top-grids__link time { display: block; margin: 0 0 5px; font-size: 1.4rem; font-weight: bold; }
.top-grids__link:nth-child(3n) { margin-right: 0; }
.top-grids__link:hover { background: rgba(190, 197, 219, 0.6); color: white; }
.top-grids + .top-grids { margin-top: 10px; }
/*----------- top　バナー -----------*/
.top-bnr { display: block; position: relative; overflow: hidden; background: #000; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4); }
.top-bnr-container { width: 320px; float: right; }
.top-bnr__txt { position: absolute; z-index: 10; }
.top-bnr__img { transition: 0.3s cubic-bezier(0, 0.75, 0.58, 1) opacity; }
.top-bnr img { display: block; }
.top-bnr + .top-bnr { margin-top: 10px; }
.top-bnr:hover .top-bnr__img { opacity: 0.7; }
.top-bnr--kagra { margin: 0 0 10px; }
.top-bnr--kagra .top-bnr__txt { top: 45px; left: 41px; }
.top-bnr--student .top-bnr__txt { top: 64px; left: 43px; }
.top-bnr--student:after { content: " "; width: 100%; height: 100%; display: block; position: absolute; z-index: auto; top: 0px; left: 0px; border: 1px solid rgba(83, 92, 164, 0.8); box-sizing: border-box; }
.top-bnr--activities .top-bnr__txt { top: 43px; left: 72px; }
.top-bnr--activities:after { content: " "; width: 100%; height: 100%; display: block; position: absolute; z-index: auto; top: 0px; left: 0px; border: 1px solid rgba(117, 117, 117, 0.8); box-sizing: border-box; }
.top-movie { width: 651px; height: 365px; display: block; float: left; background: #000; }
/*重力波とは？：about
--------------------------------------------------------------------*/
.img-einstein { position: absolute; z-index: auto; top: -110px; right: 220px; }
.img-einstein figcaption { position: absolute; z-index: auto; bottom: 25px; right: -80px; font-size: 1.2rem; color: #acb2c4; font-weight: bold; letter-spacing: -0.5px; }
