@charset "UTF-8";
.section__txt a[target="_blank"], .link-list__item a[target="_blank"] { position: relative; }
.section__txt a[target="_blank"]:before, .link-list__item a[target="_blank"]:before, .section__txt a[target="_blank"]:after, .link-list__item a[target="_blank"]:after { content: " "; width: 11px; height: 8px; display: block; position: absolute; }
.section__txt a[target="_blank"]:before, .link-list__item a[target="_blank"]:before { background: #787ef0; top: 2px; right: -23px; border: 1px solid white; transition: 0.25s ease-out background; }
.section__txt a[target="_blank"]:after, .link-list__item a[target="_blank"]:after { background: #33366a; top: 6px; right: -19px; border: 1px solid white; transition: 0.25s ease-out background; }
.section__txt a[target="_blank"]:hover:before, .link-list__item a[target="_blank"]:hover:before { width: 9px; height: 6px; -webkit-transform: translate(-1px, 1px); transform: translate(-1px, 1px); background: transparent; border-color: #787ef0; }
.section__txt a[target="_blank"]:hover:after, .link-list__item a[target="_blank"]:hover:after { width: 9px; height: 6px; -webkit-transform: translate(-1px, 1px); transform: translate(-1px, 1px); background: transparent; border-color: #33366a; }
.section__txt a, .link-list__item a { display: inline-block; color: #33366a; line-height: 1.2; border-bottom: 1px dashed; }
.section__txt a:hover, .link-list__item a:hover { color: #787ef0; }
.section__txt a[target="_blank"], .link-list__item a[target="_blank"] { margin: 0 27px 0 0; }
/*====================================================================
Reset　
====================================================================*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; text-decoration: none; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section, main { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
/*====================================================================
Base Font
====================================================================*/
html { font-size: 62.5%; }
body { font: 13px/1.231 arial,helvetica,clean,sans-serif; *font-size: small; /* for IE */ *font: x-small; /* for IE in quirks mode */ font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }
body.webfont { font-family: "Noto Sans Japanese", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; font-weight: 100; }
select, input, button, textarea { font: 99% arial, helvetica, clean, sans-serif; }
table { font-size: inherit; font: 100%; }
pre, code, kbd, samp, tt { font-family: monospace; *font-size: 108%; line-height: 100%; }
/*====================================================================
Font Classes　
====================================================================*/
/*　Noto Sans */
.u-notofont { font-family: "Noto Sans Japanese"; }
.u-notofont-thin { font-family: "Noto Sans Japanese thin"; }
.u-notofont-medium { font-family: "Noto Sans Japanese medium"; }
.u-notofont-light { font-family: "Noto Sans Japanese light"; }
.u-notofont-demilight { font-family: "Noto Sans Japanese demilight"; }
.u-notofont-bold { font-family: "Noto Sans Japanese bold"; }
.u-notofont-black { font-family: "Noto Sans Japanese black"; }
@font-face { font-family: "Noto Sans Japanese"; src: url("../fonts/notosans/regular/NotoSansCJKjp-Regular.eot"); src: url("../fonts/notosans/regular/NotoSansCJKjp-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans/regular/NotoSansCJKjp-Regular.woff") format("woff"), url("../fonts/notosans/regular/NotoSansCJKjp-Regular.otf") format("opentype"); }
@font-face { font-family: "Noto Sans Japanese thin"; src: url("../fonts/notosans/thin/NotoSansCJKjp-Thin.eot"); src: url("../fonts/notosans/thin/NotoSansCJKjp-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans/thin/NotoSansCJKjp-Thin.woff") format("woff"), url("../fonts/notosans/thin/NotoSansCJKjp-Thin.otf") format("opentype"); font-weight: lighter; }
@font-face { font-family: "Noto Sans Japanese medium"; src: url("../fonts/notosans/medium/NotoSansCJKjp-medium.eot"); src: url("../fonts/notosans/medium/NotoSansCJKjp-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans/medium/NotoSansCJKjp-medium.woff") format("woff"), url("../fonts/notosans/medium/NotoSansCJKjp-medium.otf") format("opentype"); font-weight: lighter; }
@font-face { font-family: "Noto Sans Japanese light"; src: url("../fonts/notosans/light/NotoSansCJKjp-light.eot"); src: url("../fonts/notosans/light/NotoSansCJKjp-light.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans/light/NotoSansCJKjp-light.woff") format("woff"), url("../fonts/notosans/light/NotoSansCJKjp-light.otf") format("opentype"); font-weight: lighter; }
@font-face { font-family: "Noto Sans Japanese demilight"; src: url("../fonts/notosans/demilight/NotoSansCJKjp-demilight.eot"); src: url("../fonts/notosans/demilight/NotoSansCJKjp-demilight.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans/demilight/NotoSansCJKjp-demilight.woff") format("woff"), url("../fonts/notosans/demilight/NotoSansCJKjp-demilight.otf") format("opentype"); font-weight: lighter; }
@font-face { font-family: "Noto Sans Japanese bold"; src: url("../fonts/notosans/bold/NotoSansCJKjp-bold.eot"); src: url("../fonts/notosans/bold/NotoSansCJKjp-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans/bold/NotoSansCJKjp-bold.woff") format("woff"), url("../fonts/notosans/bold/NotoSansCJKjp-bold.otf") format("opentype"); font-weight: lighter; }
@font-face { font-family: "Noto Sans Japanese black"; src: url("../fonts/notosans/black/NotoSansCJKjp-black.eot"); src: url("../fonts/notosans/black/NotoSansCJKjp-black.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans/black/NotoSansCJKjp-black.woff") format("woff"), url("../fonts/notosans/black/NotoSansCJKjp-black.otf") format("opentype"); font-weight: lighter; }
@font-face { font-family: 'icomoon'; src: url("../fonts/icomoon.eot?gr599p"); src: url("../fonts/icomoon.eot?#iefixgr599p") format("embedded-opentype"), url("../fonts/icomoon.woff?gr599p") format("woff"), url("../fonts/icomoon.ttf?gr599p") format("truetype"), url("../fonts/icomoon.svg?gr599p#icomoon") format("svg"); font-weight: normal; font-style: normal; }
[class^="icoFont"], [class*=" icoFont"] { font-family: 'icomoon'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.ico { width: 100%; height: 100%; display: table; text-align: center; }
.ico { position: absolute; z-index: auto; top: 0px; left: 0px; line-height: 1 !important; }
.ico:before { line-height: 1 !important; color: #555c5e; display: table-cell; vertical-align: middle; }
.icoFontArw-up:before { content: "\e800"; }
.icoFontArw-down:before { content: "\e802"; }
.icoFontArw-right:before { content: "\e801"; }
.icoFontArw-left:before { content: "\e803"; }
/*====================================================================
Layout　
====================================================================*/
/* default style
--------------------------------------------------------------------*/
a { color: #33366a; }
p { font-size: 100%; line-height: 1.8; }
li { font-size: 100%; line-height: 1.8; }
/* base
--------------------------------------------------------------------*/
html { height: 100%; color: #444; background: #fff; }
body { height: 100%; text-align: left; }
body p::selection, body h1::selection, body h2::selection, body h3::selection, body h4::selection, body a::selection, body img::selection, body em::selection, body strong::selection, body dd::selection, body dt::selection, body u::selection, body dfn::selection, body li::selection { color: #fff; background: #222; }
body *::-moz-selection { color: #fff; background: #222; }
body > #wrapper { height: auto; }
#wrapper { min-width: 980px; min-height: 100%; height: auto !important; height: 100%; overflow: hidden; position: relative; background: url(../../common/images/bg-photo.jpg) no-repeat center top; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) { #wrapper { -webkit-text-size-adjust: none; } }

@media screen and (min-width: 1280px) { #wrapper { background-size: 100%; } }
/* header
--------------------------------------------------------------------*/
#header { height: 305px; box-sizing: border-box; }
.header__inner { width: 980px; margin: 0 auto; padding: 27px 0 0; position: relative; }
.header-ci__txt { margin: 0 0 0 20px; }
/*----------- global navigation -----------*/
#global-nav { position: absolute; z-index: auto; top: 83px; right: 0px; }
#global-nav ul { overflow: hidden; }
.gnav-btn { float: left; padding: 0 20px 0 0; margin: 0 20px 0 0; line-height: 1; border-right: 1px solid #5a5165; }
.gnav-btn a { display: block; }
.gnav-btn img { display: block; }
.gnav-btn:last-child { margin: 0; padding: 0; border: none; }
/*----------- option-nav -----------*/
.option-nav { position: absolute; z-index: auto; top: 50px; right: 0px; zoom: 1; }
.option-nav:before, .option-nav:after { display: block; height: 0; visibility: hidden; content: "\0020"; }
.option-nav:after { clear: both; }
.option-nav__btn { float: left; line-height: 1; }
.option-nav__btn a { color: rgba(172, 178, 196, 0.9); }
.option-nav__btn a:hover { text-decoration: underline dashed; }
.option-nav__btn + .option-nav__btn { margin-left: 15px; }
.option-nav__btn:first-child { padding-right: 15px; border-right: 1px solid; }
.option-nav__btn:last-child { margin-top: -6px; padding-left: 5px; }
/*　contents block
--------------------------------------------------------------------*/
<<<<<<< HEAD
#contents { /*width:$width;*/ margin: 0 auto; overflow: hidden; position: relative; }
#pagetop { position: absolute; z-index: auto; bottom: 300px; left: 0px; color: #fff; }
/*footer
--------------------------------------------------------------------*/
#footer { width: 100%; height: 100px; position: absolute; z-index: auto; bottom: 0px; left: 0px; background: red; }
=======
.container { width: 100%; background: #fff; }
#contents { margin: 0 auto; padding: 60px 0 100px; position: relative; }
#page-top-btn { width: 40px; height: 74px; display: block; position: absolute; z-index: auto; bottom: 210px; right: 0px; color: #fff; background: url(../../common/images/icon/ico-page-top.png) no-repeat 11px 23px #4e5080; border-radius: 5px 0 0 5px; cursor: pointer; transition: 0.2s ease; }
#page-top-btn img { position: absolute; z-index: auto; top: 41px; left: 10px; }
#page-top-btn:hover { bottom: 215px; background-color: #7174b4; /*background-position: 11px 18px;*/ }
/*　contents module
--------------------------------------------------------------------*/
.hd-title { width: 980px; position: absolute; top: -66px; left: 50%; margin: 0 0 0 -490px; }
/*----------- セクション -----------*/
.section__inner { width: 980px; margin: 0 auto; }
.section__hd { padding: 0 0 0 15px; margin: 0 0 35px; line-height: 1; border-left: 6px solid #000; }
.section__txt { font-size: 1.6rem; line-height: 1.88; text-align: justify; text-justify: inter-ideograph; letter-spacing: 0.5px; }
.section + .section { padding-top: 80px; }
.section--devide-blc { padding-bottom: 75px; border-bottom: 1px solid #ccc; }
/*----------- 画像 -----------*/
.photos { margin: 35px 0 0; }
.photos__inner { width: 980px; zoom: 1; }
.photos__inner:before, .photos__inner:after { display: block; height: 0; visibility: hidden; content: "\0020"; }
.photos__inner:after { clear: both; }
.photos-item { position: relative; float: left; }
.photos-item__txt { padding: 0 0 0 10px; position: absolute; z-index: auto; top: 20px; left: 20px; color: white; line-height: 1; font-size: 1.6rem; border-left: 1px solid #666; }
.photos-item__txt .small { display: block; padding: 7px 0 0; font-size: 1.2rem; color: #c5c7eb; }
.photos-item img { display: block; }
.photos-item:nth-child(2) ~ .photos-item { margin-top: 10px; }
.photos-item:nth-child(odd) { clear: both; margin-right: 10px; }
.photos-item--dark .photos-item__txt { color: #444; }
.photos--simple .photos-item { float: none; }
.photos--simple .photos-item__txt { top: 10px; }
.photos--simple .photos-item img { margin: 0 auto; }
.photos--large .photos__inner { margin: 0 auto; padding: 20px 0; }
.photos--bg-dark { background: black; background: linear-gradient(to bottom, black 0%, #333333 100%); }
.photos--bg-dot { background: url(../../common/images/pattern-dot-gray.gif); }
/*----------- リンク横一覧 -----------*/
.link-list { margin: 20px 0 0; overflow: hidden; }
.link-list__item { float: left; line-height: 1.1; }
.link-list__item a { font-size: 1.6rem; }
.link-list__item a:before { top: 2px; }
.link-list__item a:after { top: 5px; }
.link-list__item + .link-list__item { margin-left: 10px; padding-left: 10px; border-left: 1px solid #ccc; }
/*footer
--------------------------------------------------------------------*/
.footer { width: 100%; background: #333539; color: #acb2c4; }
.footer__inner { width: 980px; padding: 55px 0 60px; margin: 0 auto; overflow: hidden; }
.footer-list { float: left; margin: 0 100px 0 0; }
.footer-list__item { line-height: 1; vertical-align: middle; }
.footer-list__item:before { content: " "; width: 5px; height: 5px; display: block; display: inline-block; margin: 0 10px 0 0; background: #565aa8; border-radius: 5px; vertical-align: middle; }
.footer-list__item + .footer-list__item { margin-top: 10px; }
.footer-list a { color: #acb2c4; display: inline; border: none; font-size: 1.3rem; letter-spacing: 1px; vertical-align: middle; }
.footer-list a:hover { text-decoration: underline dashed; }
.footer-address { width: 383px; float: right; font-size: 12px; text-align: justify; text-justify: inter-ideograph; }
.footer-address em { font-weight: bold; font-size: 15px; }
.footer-address a { color: #acb2c4; display: inline; border: none; }
.footer-address a:hover { text-decoration: underline dashed; }
.footer-address .copyright { display: block; margin: 45px 0 0; padding: 28px 0 0; border-top: 1px solid #565aa8; line-height: 1; font-size: 1.2rem; letter-spacing: 0.5px; }
>>>>>>> d301987aba13f69ad6096320f2943424da8d984b
