@charset "UTF-8";
/* ----------------------------------------
  Home（接頭辞: `home`）
---------------------------------------- */
/* ヒーローエリア */
.home-hero {
  padding-top: 393px;
  position: relative;
  min-height: 733px;
  box-sizing: border-box;
  overflow: hidden;
}

.home-hero-hdg {
  position: absolute;
  top: 60px;
  left: 50%;
  z-index: 1;
  margin: 0 0 0 -373px;
  opacity: 0;
}
.is-displayed .home-hero-hdg {
  opacity: 1;
  -webkit-transition: 0.8s linear opacity;
  transition: 0.8s linear opacity;
}

@-webkit-keyframes home-hero-hdg {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-25px);
            transform: translateX(-25px);
  }
  40% {
    opacity: 0;
    -webkit-transform: translateX(-25px);
            transform: translateX(-25px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes home-hero-hdg {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-25px);
            transform: translateX(-25px);
  }
  40% {
    opacity: 0;
    -webkit-transform: translateX(-25px);
            transform: translateX(-25px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.home-hero-imgage {
  position: absolute;
  top: 0;
  left: 0;
}
.home-hero-imgage > img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@-webkit-keyframes home-hero-imgage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes home-hero-imgage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.home-hero-desc {
  position: absolute;
  top: 320px;
  left: 50%;
  z-index: 1;
  margin: 0 0 0 -348px;
  opacity: 0;
}
.is-displayed .home-hero-desc {
  opacity: 1;
  -webkit-transition: 0.8s linear opacity;
  transition: 0.8s linear opacity;
}

.home-hero-txt {
  width: 690px;
  position: absolute;
  top: 400px;
  left: 50%;
  z-index: 1;
  margin: 0 0 0 -345px;
  color: white;
  font-size: 18px;
  line-height: 1.8;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
  opacity: 0;
}
.is-displayed .home-hero-txt {
  opacity: 1;
  -webkit-transition: 0.4s linear 1s opacity;
  transition: 0.4s linear 1s opacity;
}

.home-hero-btn {
  width: 460px;
  position: absolute;
  top: 600px;
  left: 50%;
  z-index: 1;
  margin: 0 0 0 -230px;
  padding: 20px 0;
  color: white;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(160, 152, 125, 0.55);
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.35);
  border-radius: 3px;
  opacity: 0;
}
.home-hero-btn:hover {
  text-decoration: none;
  background: rgba(160, 152, 125, 0.75);
}
.is-displayed .home-hero-btn {
  -webkit-transition: 0.4s linear 1s opacity,0.2s ease background;
  transition: 0.4s linear 1s opacity,0.2s ease background;
  opacity: 1;
}
.home-hero-btn img {
  margin: 0 10px 0 0;
  vertical-align: middle;
}

/* ヒーローエリア 英語版*/
html[lang="en"] .home-hero {
  padding-top: 393px;
  position: relative;
  min-height: 869px;
  box-sizing: border-box;
}
html[lang="en"] .home-hero-hdg {
  position: absolute;
  top: 106px;
  right: 175px;
  z-index: 1;
}
.js html[lang="en"] .home-hero-hdg {
  opacity: 0;
}
.is-done html[lang="en"] .home-hero-hdg {
  opacity: 1;
  -webkit-animation: 2s home-hero-hdg ease-in-out;
          animation: 2s home-hero-hdg ease-in-out;
}
html[lang="en"] .home-hero-imgage {
  position: absolute;
  top: 0;
  left: 0;
}
.js html[lang="en"] .home-hero-imgage {
  opacity: 0;
}
.is-done html[lang="en"] .home-hero-imgage {
  opacity: 1;
  -webkit-animation: 1s home-hero-imgage ease-in-out;
          animation: 1s home-hero-imgage ease-in-out;
}
html[lang="en"] .home-hero-imgage > img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
html[lang="en"] .home-hero-desc-wrapper {
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 2;
  background-color: rgba(71, 169, 164, 0.6);
  color: #fff;
}
html[lang="en"] .home-hero-desc {
  margin-right: auto;
  margin-left: auto;
  width: 1000px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
html[lang="en"] .home-hero-desc-text {
  padding-top: 65px;
  padding-bottom: 73px;
  width: 364px;
  font-size: 2rem;
  line-height: 1.8;
}
html[lang="en"] .home-hero-desc-image {
  padding-top: 41px;
  display: block;
}

/* コンテンツエリア */
.home-content {
  margin-right: auto;
  margin-left: auto;
  padding-top: 55px;
  padding-bottom: 90px;
  width: 1000px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* イベント情報 */
.home-event {
  width: 614px;
  box-sizing: border-box;
  position: relative;
  border: 1px solid #0ba29a;
}
.home-event-hdg-wrapper {
  min-height: 206px;
  box-sizing: border-box;
  position: relative;
  padding: 32px 0 0 36px;
  background: #0ba29a;
}
.home-event-hdg {
  font-weight: normal;
}
.home-event-hdg > a {
  color: #fff;
  text-decoration: none !important;
}
.home-event-hdg-en {
  display: block;
  background-color: transparent;
  font-size: 3.2rem;
  line-height: 1;
}
.home-event-hdg-ja {
  margin-top: 10px;
  display: block;
  font-size: 1.6rem;
  line-height: 1;
}
.home-event-hdg > img {
  position: absolute;
  top: -1px;
  right: -1px;
}
.home-event-more {
  position: absolute;
  bottom: 27px;
  left: 36px;
  padding-bottom: 3px;
  padding-left: 10px;
  white-space: nowrap;
  line-height: 1;
}
.home-event-more > a {
  color: #fff;
}
.home-event-more > a:before {
  border: solid 3px transparent;
  border-right: solid 4px transparent;
  border-left: solid 4px #fff;
}
.home-event-list-item {
  padding: 15px 38px 0;
  font-size: 2rem;
  line-height: 1.625;
}
.home-event-list-item:not(:last-child) {
  margin-bottom: 1em;
}
.home-event-list-item + .home-event-list-item {
  border-top: 1px solid #0ba29a;
}
.home-event-list-item:last-child {
  padding-bottom: 25px;
}
.home-event-list-item-date {
  color: #0ba29a;
  font-size: 1.6rem;
  position: relative;
}
.home-event-list-item-category {
  margin-left: 10px;
  padding-left: 10px;
  display: inline-block;
  position: relative;
}
.home-event-list-item-category:before {
  content: '';
  margin-top: auto;
  margin-bottom: auto;
  width: 1px;
  height: 1em;
  background-color: #0ba29a;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
.home-event-list-desc > a {
  display: inline-block;
}

/* プロジェクト紹介 */
.home-project {
  padding: 30px 33px 0 44px;
  width: 614px;
  box-sizing: border-box;
  position: relative;
}
.home-project:before, .home-project:after {
  content: '';
  width: 87px;
  height: 201px;
  display: block;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}
.home-project:before {
  border-top: solid 4px #dfdcd2;
  border-left: solid 4px #dfdcd2;
  top: 0;
  left: 0;
}
.home-project:after {
  border-right: solid 4px #dfdcd2;
  border-bottom: solid 4px #dfdcd2;
  bottom: 0;
  right: 0;
}
.js .home-project {
  visibility: hidden;
}
.is-done .home-project {
  visibility: visible;
}

.home-project-hdg {
  margin-bottom: 26px;
  background-color: transparent;
  color: #1ca49c;
  font-size: 3rem;
  font-weight: normal;
  line-height: 1.333;
}
.home-project-hdg > a {
  color: #1ca49c;
  text-decoration: none !important;
}

.home-project-image {
  position: absolute;
  left: 0;
  bottom: 0;
}

.home-project-desc {
  padding-top: 51px;
  padding-bottom: 45px;
  padding-left: 280px;
  min-height: 417px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  font-size: 1.7rem;
  line-height: 2;
}

.home-project-desc-post {
  margin-top: 20px;
  font-size: 1.4rem;
  line-height: 1;
  text-align: right;
}

.home-project-desc-name {
  margin-top: 10px;
  font-size: 2rem;
  line-height: 1;
  text-align: right;
}

/* インフォメーション */
.home-information {
  width: 323px;
}

.home-information-hdg-wrapper {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.home-information-hdg {
  font-weight: normal;
  line-height: 1;
}

.home-information-hdg-en {
  display: block;
  color: #0ba29a;
  background-color: transparent;
  font-size: 3.2rem;
}

.home-information-hdg-ja {
  margin-top: 10px;
  display: block;
  font-size: 1.6rem;
}

.home-information-more {
  padding-bottom: 3px;
  padding-left: 10px;
  white-space: nowrap;
}

.home-information-list-item {
  font-size: 1.6rem;
  line-height: 1.625;
}
.home-information-list-item:not(:last-child) {
  margin-bottom: 1em;
}

.home-information-list-item-date {
  color: #0ba29a;
  position: relative;
}

.home-information-list-item-category {
  margin-left: 10px;
  padding-left: 10px;
  display: inline-block;
  position: relative;
}
.home-information-list-item-category:before {
  content: '';
  margin-top: auto;
  margin-bottom: auto;
  width: 1px;
  height: 1em;
  background-color: #0ba29a;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.home-information-list-desc > a {
  display: inline-block;
}
