@charset "UTF-8";
/*============================================
	トップページ：index.html
=============================================*/
html.ie6 #wrapper { background: #0C0; }
html.ie7 #wrapper { background: #0C0; }
html.ie8 #wrapper { background: #0C0; }
