@charset "UTF-8";
html { height: 100%; -webkit-text-size-adjust: none; }

body { height: 100%; text-align: left; }
body > #wrapper { height: auto; }
body #wrapper { position: relative; min-height: 100%; height: auto !important; height: 100%; }

/*-------------------------------------------------------------------------------------------------*
HEADER
--------------------------------------------------------------------------------------------------*/
#header p { color: #999999; }

/*-------------------------------------------------------------------------------------------------*
NAVIGATION
--------------------------------------------------------------------------------------------------*/
#gnav ul { overflow: hidden; }
#gnav li { float: left; }
#gnav a { display: block; }

/*-------------------------------------------------------------------------------------------------*
CONTENTS
--------------------------------------------------------------------------------------------------*/
#contents { position: relative; }
#contents #top_back { bottom: 10px; right: 50px; position: absolute; z-index: auto; }

/*-------------------------------------------------------------------------------------------------*
FOOTER
--------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*
ETC
--------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*
iPhone
--------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*
iPad
--------------------------------------------------------------------------------------------------*/
