@charset "UTF-8";
/* line 28, ../scss/layout.scss */
html {
  height: 100%;
  -webkit-text-size-adjust: none;
}

/* line 29, ../scss/layout.scss */
body {
  height: 100%;
  text-align: left;
}
/* line 30, ../scss/layout.scss */
body > #wrapper {
  height: auto;
}
/* line 31, ../scss/layout.scss */
body #wrapper {
  position: relative;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

/*-------------------------------------------------------------------------------------------------*
HEADER
--------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*
NAVIGATION
--------------------------------------------------------------------------------------------------*/
/* line 56, ../scss/layout.scss */
#gnav ul {
  overflow: hidden;
}
/* line 57, ../scss/layout.scss */
#gnav li {
  float: left;
}
/* line 58, ../scss/layout.scss */
#gnav a {
  display: block;
}

/*-------------------------------------------------------------------------------------------------*
CONTENTS
--------------------------------------------------------------------------------------------------*/
/* line 69, ../scss/layout.scss */
#contents {
  position: relative;
}
/* line 71, ../scss/layout.scss */
#contents #top_back {
  bottom: 10px;
  right: 50px;
  position: absolute;
  z-index: auto;
}

/*-------------------------------------------------------------------------------------------------*
FOOTER
--------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*
ETC
--------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*
iPhone
--------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*
iPad
--------------------------------------------------------------------------------------------------*/
